/*==========================================================Etiquetas principales*/

html
{
	width: 100%;
	height: 100%;
	font-family:DSRegular!important;
}
body
{
	width: 100%;
	height: 100%;
	font-family:DSRegular!important;
	position:relative;
	overflow: hidden;
	
}
#cortina 
{
    position:absolute;
    background-color: green;
    z-index: 10001;
    top: -100%;
    width:100%;
    height:100%;
    left: 0;
}
.none 
{
    display:none;
}
.fixed 
{
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99; 
 }

::selection 
{
    background: #333;
    color: #FFF;
}
::-webkit-scrollbar 
{
    width: 10px;
}
::-webkit-scrollbar-track 
{
    background:rgba(0, 0, 0, 0.1);
    border: thin solid #feb7028;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) inset;
}
::-webkit-scrollbar-thumb 
{
background-image: linear-gradient(right , rgb(230,178,23) 4%, rgb(235,201,30) 52%, rgb(235,210,85) 81%);
background-image: -o-linear-gradient(right , rgb(230,178,23) 4%, rgb(235,201,30) 52%, rgb(235,210,85) 81%);
background-image: -moz-linear-gradient(right , rgb(230,178,23) 4%, rgb(235,201,30) 52%, rgb(235,210,85) 81%);
background-image: -webkit-linear-gradient(right , rgb(230,178,23) 4%, rgb(235,201,30) 52%, rgb(235,210,85) 81%);
background-image: -ms-linear-gradient(right , rgb(230,178,23) 4%, rgb(235,201,30) 52%, rgb(235,210,85) 81%);

background-image: -webkit-gradient(
	linear,
	right top,
	left top,
	color-stop(0.04, rgb(230,178,23)),
	color-stop(0.52, rgb(235,201,30)),
	color-stop(0.81, rgb(235,210,85))
);

    border: thin solid #feb702;
	border-radius: 40px;
	cursor:pointer;
}

/*==========================================================Etiquetas Div de contenido*/

.antmenu
{
	position:relative;
	height:60px;
}

.page
{
	width: 100%;
	height: auto;
	min-height: 100%;
	max-height:100%;
	
}

#page11
{
	height:100%;
	width:100%;
	position:absolute;
	z-index:-10;
}

#page1
{
	background:#c0893f url(../images/jpg/fondo-intro.jpg) no-repeat;
	background-size:cover;
	overflow-x:hidden!important;
	overflow-y:auto!important;
	height: auto;
	width: 100%;
	min-height:100%;
	
}

#page2
{
	display: none;
    overflow-x:hidden!important;
	overflow-y:auto!important;
}

#page3
{
	display: none;
	overflow-y:auto!important;
}

#page4
{
	display: none;
}

#page5
{
	display: none;	
	overflow-y:auto!important;

	
}

#page6
{
	display: none;
	background:#c0893f url(../images/jpg/fondo-contacto-webde.jpg) no-repeat top center;
	background-size:cover;
	overflow-y:scroll;
}

/*==========================================================Etiquetas de slide personales*/

#conta1, #conta2, #conta3
{
	margin: 13% 6%;
}

#conta4, #conta5, #conta6
{
	margin: 17% 6%;
}

/*==========================================================FHeader Intro*/

#menu-intro
{
	background:rgba(0, 0, 0, .3);
	padding:0.4%;
}

.visible
{
	position:relative;
	overflow-y:scroll;
	height:100%;
	min-height:100%;
	display:block;
}

.cambiando
{
	height:auto;
}

.link-intro
{
	background:transparent!important;
	height:auto!important;
}

#link-intro2
{
	background:transparent!important;
	padding-top: 2px;
}


#menu-intro-entero
{
	background:transparent!important;
}

h2
{
	font-size: 25px;
	font-weight: normal;
	color: #feb502!important;
	text-shadow: 1px 0px 2px #343434;
}

.tamanoh2
{
	font-size: 15px;
	font-weight: normal;
	color: #feb502!important;
	text-shadow: 1px 0px 2px #d5d5d4;
}


/*==========================================================Pop up y Alertas*/

.red 
{
    color: red;
}

.pop1
{
    color: #e8a70f;
    font-size: 1.7em;
}

.pop2 
{
    color: #e8a70f;
}






/*==========================================================Menu Sonido*/

.colorL 
{
    color:#6d6d6d!important;
}

.control
{
	padding:1%;
	background:rgba(255, 255, 255, .6);
	position:absolute;
	top:70px;
	right:1%;
	z-index:1000;
	display:block;
}


.nocontrol
{
	z-index:-1000!important;
	display:none!important;
}


#btnCancelT
{
	background:url(../images/png/btn-sound.png) no-repeat -123px -21px;
	text-indent: -9999999px;
	height: 25px;
	width: 20px;
	display:block;
	cursor:pointer;
	position: absolute;
	top: 0;
	right: 0;
}

#btnNS
{
	background:url(../images/png/btn-sound.png) no-repeat -81px -21px;
	text-indent: -9999999px;
	height: 25px;
	width: 20px;
	display:block;
	cursor:pointer;

}

#btnNP
{
	background:url(../images/png/btn-sound.png) no-repeat -38px -21px;
	text-indent: -9999999px;
	height: 25px;
	width: 20px;
	display:block;
	cursor:pointer;

}

.control ul li
{
	list-style:none;
	display:inline-block;
	margin:0 10px;
}

.control p
{
	font-size:10px;
}


.sound
{

}

.sound2.li
{
	list-style:none;
	display:inline-block;
}

#btnTour
{
	background: url(../images/png/btn-sound.png) no-repeat -20px -55px;
	height: 28px;
	width: 55px;
	display:block;
	text-indent: -9999999px;
	margin: 18px auto;
}

#pp
{
	background: url(../images/png/btn-sound.png) no-repeat -66px -49px;
	height: 36px;
	width: 53px;
	display:block;
	text-indent: -9999999px;
	margin: 17px auto;
}

#help
{
	background: url(../images/png/btn-sound.png) no-repeat -112px -54px;
	height: 32px;
	width: 50px;
	display:block;
	text-indent: -9999999px;
	margin: 16px auto;
}

#btnTour:hover{background: url(../images/png/btn-sound.png) no-repeat -20px -89px;border:none;}
#pp:hover{background: url(../images/png/btn-sound.png) no-repeat -66px -85px;border:none;}
#help:hover{background: url(../images/png/btn-sound.png) no-repeat -112px -88px;border:none;}

.btnTour{background: url(../images/png/btn-sound.png) no-repeat -20px -89px!important;border:none;}
.pp{background: url(../images/png/btn-sound.png) no-repeat -66px -85px!important;border:none;}
.help{background: url(../images/png/btn-sound.png) no-repeat -112px -88px!important;border:none;}
/*==========================================================Cuerpo Intro*/

#cuerpo-intro
{
	margin-top: 10%;
	margin-bottom: 17%;
	min-height:100%;
	height:auto!important;
}

#cuerpo-intro img
{
	text-align:center;
}

#tv
{
	border-right:2px solid #FFF;
}

#texto-intro
{
	font-family:DSRegular!important;
	font-size:30px;
	color:#FFF;
	text-shadow: 4px 3px 8px #000;
	-webkit-text-shadow: 4px 3px 8px #000;
	-ms-text-shadow: 4px 3px 8px #000;
	-moz-text-shadow: 4px 3px 8px #000;
	-o-text-shadow: 4px 3px 8px #000;
}

/*==========================================================Boton intro*/


#boton-intro
{
	font-size:20px;
	margin:0 auto;
	font-family:DSRegular!important;
	text-shadow: 1px 1px 4px #000;
	-webkit-text-shadow: 1px 1px 4px #000;
	-ms-text-shadow: 1px 1px 4px #000;
	-moz-text-shadow: 1px 1px 4px #000;
	-o-text-shadow: 1px 1px 4px #000;
	width:90%!important;
	margin-top:2%;
	margin-bottom:2%;
}



/*==========================================================Boton intro*/

#footer-intro
{
	background: #46382a url(../images/png/footer-intro.png);
	padding:1% 0;
	position:relative;

	
}

#texto-footer-intro
{
	font-family:DSRegular!important;
	font-size:14px;
	color:#eab30d;
	text-align:center;
	
}


/*==========================================================Botones*/

button, .button {
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-weight: bold;
	line-height: 1;
	margin: 0 0 1.25em;
	position: relative;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 0.75em;
	padding-right: 1.5em;
	padding-bottom: 0.8125em;
	padding-left: 1.5em;
	font-size: 1em;
	background: #fbbb1f url(../images/png/bg-boton.png);
	border-color: #c19025;
	color: white;
}

button:hover, button:focus, .button:hover, .button:focus {
	background-color: #c19025;
	box-shadow:inset 0 0 8px #9d7714;
	-webkit-box-shadow:inset 0 0 8px #9d7714;
	-moz-box-shadow:inset 0 0 8px #9d7714;
	-ms-box-shadow:inset 0 0 8px #9d7714;
	-o-box-shadow:inset 0 0 8px #9d7714;
	border-color: #dda924;
}

button:hover, button:focus, .button:hover, .button:focus {
	color: white;
}

/*==========================================================Cuerpo inicio*/

#myCanvas, #myCanvas2, #myCanvas3, #myCanvas4, #myCanvas5
{
width: 230px;
background:url(../images/png/logo.png) 1% 1% no-repeat; 
}

@media all and (max-width: 320px) and (min-width: 100px) {

	#myCanvas, #myCanvas2, #myCanvas3, #myCanvas4, #myCanvas5
	{
	width: 222px;
	height: 115px;
	background:none;
	}

#conta1, #conta2, #conta3
{
	margin: 75px 6%;
}

}

#container
{
	width:80%;
	margin:0 auto;
}

.container h1
{
	font-size: 35px;
	font-weight: normal;
	color: #feb502;
	text-shadow: 1px 0px 2px #343434;
}

.container1
{
	font-size: 35px;
	font-weight: normal;
	color: #feb502;
	text-shadow: 1px 0px 2px #343434;
}

.container11
{
	font-size: 20px;
	font-weight: normal;
	color: #feb502;
}


.container p
{
	font-size: 18px;
	font-weight: normal;
	color: #fafafa;
	text-shadow: 0px 1px 2px #343434;
}

.slides-container li img
{
	max-width:none!important;
}

/*==========================================================Resolucion mini*/
@media all and (max-width: 320px) and (min-width: 200px) {

	.container h1
	{
		font-size: 20px;
		font-weight: normal;
		color: #feb502;
		text-shadow: 1px 0px 2px #343434;
	}
	
	#texto-intro
	{
	font-family:DSRegular!important;
	font-size:20px;
	color:#FFF;
	text-shadow: 4px 3px 8px #000;
	-webkit-text-shadow: 4px 3px 8px #000;
	-ms-text-shadow: 4px 3px 8px #000;
	-moz-text-shadow: 4px 3px 8px #000;
	-o-text-shadow: 4px 3px 8px #000;
	}
	#texto-footer-intro
	{
	font-family:DSRegular!important;
	font-size:10px;
	color:#eab30d;
	text-align:center;
	
	}
	
	.container p
	{
	font-size: 16px;
	font-weight: normal;
	color: #fafafa;
	text-shadow: 0px 1px 2px #343434;
	line-height:16px;
	}

}

.contport
{

	width:100%;
	height:100%;
}


#clientes
{
	width:100%;
	height:90%;
	box-shadow: 0px -5px 10px 3px #ccc;
	-webkit-box-shadow: 0px -5px 10px 3px #ccc;
	-ms-box-shadow: 0px -5px 10px 3px #ccc;
	-moz-box-shadow: 0px -5px 10px 3px #ccc;
	-o-box-shadow: 0px -5px 10px 3px #ccc;
}








/*==========================================================Footer*/

#footer
{
	background:url(../images/jpg/fondo-footer.jpg);
	position:relative;
}

#footer-text
{
	text-align:center;
	font-size:12px;
	margin:9px 0;
	line-height:16px;
}

#footer-social
{
	font-size:12px;
	margin:9px 0;
	line-height:16px;
}

/*==========================================================Social*/


.social ul li
{
	display:inline-block;
	position:relative;
}

.btn-social
{
	text-indent: -9999px;
	cursor:pointer;
	width:34px;
	height:33px;
	display:block;
}

.fac
{
	background:url(../images/png/social.png) 0% 100%;
	left:1px;
}

.twi
{
	background:url(../images/png/social.png) 11.1% 100%;
	left:36px;
}

.ins
{
	background:url(../images/png/social.png) 22.2% 100%;
	left:72px;
}

.drib
{
	background:url(../images/png/social.png) 33.3% 100%;
	left:108px;
}

.git
{
	background:url(../images/png/social.png) 44.4% 100%;
	left:144px;
}

.you
{
	background:url(../images/png/social.png) 55.5% 100%;
	left:180px;
}

.fli
{
	background:url(../images/png/social.png) 66.6% 100%;
	left:216px;
}

.goo
{
	background:url(../images/png/social.png) 77.7% 100%;
	left:252px;
}

.blo
{
	background:url(../images/png/social.png) 88.8% 100%;
	left:288px;
}

.lin
{
	background:url(../images/png/social.png) 100% 100%;
	left:324px;
}

.fac:hover
{
	background:url(../images/png/social.png) 0% 0%;
}

.twi:hover
{
	background:url(../images/png/social.png) 11.1% 0%;
}

.ins:hover
{
	background:url(../images/png/social.png) 22.2% 0%;
}

.drib:hover
{
	background:url(../images/png/social.png) 33.3% 0%;
}

.git:hover
{
	background:url(../images/png/social.png) 44.4% 0%;
}

.you:hover
{
	background:url(../images/png/social.png) 55.5% 0%;
}

.fli:hover
{
	background:url(../images/png/social.png) 66.6% 0%;
}

.goo:hover
{
	background:url(../images/png/social.png) 77.7% 0%;
}

.blo:hover
{
	background:url(../images/png/social.png) 88.8% 0%;
}

.lin:hover
{
	background:url(../images/png/social.png) 100% 0%;
}

@media all and (max-width: 1280px) and (min-width: 1024px) {
	.row .column, .row .columns {
	position: relative;
	padding-left: 0!important;;
	padding-right: 0.9375em;
	width: 100%;
	float: left;
	}
}



/*==========================================================Servicios CSS*/


.serviceInactive
{
display:none;
}

.page-inactive
{
display:none;
}
.espaciomenu
{
	height:66px;
}

.column-web
{
	margin-top:15%;
}

.contenido-web
{
	overflow-y: scroll;
	max-height: 200px;
	background:#e4e4e4;
	color:#646464;
	padding:20px;
}

.btn-servicios
{
	padding:0;
	padding-top:4px;
	padding-left:2px;
	padding-right:2px;
}

h3
{
	color:#FFF!important;
}

h4
{
	color:#fefefe!important;
	margin:-7px 0 3px 0!important;
	border-bottom:1px solid #fefefe;
	padding-bottom: 20px!important;
	font-weight:normal!important;
}

.movil
{
	top:7%!important;
	margin-left:10%;
	margin-top:70px;
}

@media all and (max-width: 420px) and (min-width: 100px) {

.movil
{
	top:6%!important;
	margin-left:0%;
}

.column-web
{
	margin-top:34%;
}

.circulo-movil
{
	width:100%;
	height:auto!important;
	max-height:100%!important;
	max-width:586px;
	overflow:hidden;
	position:relative;
	top:0%!important;
	right:0%!important;
	border:10px solid #e4e1e1;
	background:#FFF;
	box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
	color:#9f9f9f;
	border-radius: 0px!important;
	-webkit-border-radius: 0px!important;
	-moz-border-radius: 0px!important;
	-ms-border-radius: 0px!important;
	-o-border-radius: 0px!important;


	
}

#conta1, #conta2, #conta3
{
	margin: 40% 6%;
}



.mobile-top, .mobile-center, .mobile-bottom
{
	max-width: 110%!important;
	position: relative;
	left: 0%!important;
	-webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
}

}


@media all and (max-width: 790px) and (min-width: 421px) {

.movil
{
	top:6%!important;
	margin-left:0%;
}



.column-web
{
	margin-top:28%;
}



.circulo-movil
{
	width:100%;
	height:auto;
	max-height:100%!important;
	max-width:586px;
	overflow:hidden;
	position:relative;
	top:0%!important;
	right:0%!important;
	border:10px solid #e4e1e1;
	background:#FFF;
	box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
	border-radius: 0px!important;
	-webkit-border-radius: 0px!important;
	-moz-border-radius: 0px!important;
	-ms-border-radius: 0px!important;
	-o-border-radius: 0px!important;
	color:#9f9f9f;
	
}

.mobile-top, .mobile-center, .mobile-bottom
{
	max-width: 110%!important;
	position: relative;
	left: 0%!important;
	-webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
}



}

.circulo-movil
{
	width:100%;
	height:100%;
	max-height:586px;
	max-width:586px;
	overflow:hidden;
	position:relative;
	top:10%;
	right:10%;
	border:10px solid #e4e1e1;
	background:#FFF;
	box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
	color:#9f9f9f;
	border-radius: 300px;
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	-ms-border-radius: 300px;
	-o-border-radius: 300px;
	padding:30px;
	
}

.parrafo-movil
{
	font-size:10px;
	text-align:center;
	padding-top:10%;
}


.mobile-center
{

}

.title-mar
{
	color: #FFF!important;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	font-size: 2em;
}


.ma
{
	margin-top: 21%;
}

#seo p, #email p, #branding p, #socialm p
{
	color: #FFF!important;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	font-size: 0.8em;
}

.btn-enviar
{
	background: #fbbb1f url(../images/png/bg-boton.png);
	border: 1px solid #c19025;
	padding: 15px;
	font-size: 2em;
	color: #a38c4a;
	float: right;
}

.btn-enviar:hover
{
	background: #fbbb1f url(../images/png/bg-boton.png);
	border: 1px solid #6c5d33;
	padding: 15px;
	font-size: 2em;
	color: #6c5d33;
	float: right;
}

.socialm
{
	margin-bottom:50%;
}

.img-seo
{
	margin-top:8%;
}

.mobile-top, .mobile-center, .mobile-bottom
{
	width: 139%!important;
	position: relative;
	left: -63%;
	-webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
}

.mobile-top
{
	padding-top: 8%;
}


.todo-marketing
{
	background:rgba(57, 155, 219, .6);
	height:auto;
	min-height:100%;
	padding-top:30px;
	overflow:auto;
	overflow-x:hidden!important;
}


.mface
{
	background:url(../images/jpg/fondo-mface.jpg);
	border-radius:2%;
	-ms-border-radius:2%;
	-o-border-radius:2%;
	-moz-border-radius:2%;
	-webkit-border-radius:2%;
	height:23%;
	padding:31px;
}

#twitter-widget-0
{
	width:100%;
	height:24%;
}

.mtweet
{
	background:url(../images/jpg/fondo-mtwitter.jpg);
	height:23%;
	padding:31px;
	border-radius:2%;
	-ms-border-radius:2%;
	-o-border-radius:2%;
	-moz-border-radius:2%;
	-webkit-border-radius:2%;
	margin-top:8%;
}

.twitter-timeline
{
	width:100%;
	max-width:100%;
	
}

.mtweet-cont
{
	overflow:hidden;
}

.imagen-social-m
{
	position: absolute;
	margin: -3% -3%;

}

.padding
{
	padding:15px;
	overflow-x:hidden!important;
}



/*==========================================================Portafolio CSS*/


.port
{
	border:2px #fcb400 solid;
}

#porta1
{
	background:#f8f7f7;
	box-shadow:1px 1px 1px 1px #fff;
}

#porta2
{
	background:#c7c7c7;
	padding-top:2%;
	height: auto;
	max-height: 100%;

}

#porta2 img
{
border: 2px solid transparent!important;
}

.elastislide-wrapper.elastislide-horizontal
{
	background-color: transparent!important;
	box-shadow: none!important;
}

/*==========================================================Portafolio*/

#portafolio
{

}

#productos
{
	width:100%;
	background:url(../images/jpg/fondo-portafolio.jpg);
	overflow:auto;

}

#container2
{
	min-width:100%;
	width:auto;
	
}

#container2 li
{
	list-style:none;
	display:inline-block;
	margin:.3%;
}

.h3
{
	color:#6d6c6c;
}

.parra
{
	color:#6d6c6c;
}

.li-aliados
{
	margin:0 1.8%!important;
}


/*===================================================================Equipo*/

.margin2
{
	margin-bottom:2%;
}


.teamInactive
{
	display:none;
}

.teamActive
{
	
}


@media all and (max-width: 790px) and (min-width: 100px) {
	.flex-direction-nav a {
	display: block;
	position: absolute;
	margin: -17px 0 0 0;
	top: 36%;
	cursor: pointer;
	width: 23px!important;
	height: 215px;
	}
	
	.flex-prev {
	left: -16px!important;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	}
	
	.flex-next {
	right: -16px!important;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	}
}


/*==========================================================Contacto*/
.centro
{
	width:70%!important;
	margin:0 auto;
	margin-top:4%!important;
}

.centro p{
color: #FFF!important;
text-shadow: 0 1px 1px rgba(0,0,0,0.5);
font-size: 0.8em;
}

.btn-enviar2
{
	background: rgba(159, 22, 22, .5);
	border: none;
	padding: 15px;
	font-size: 2em;
	color: #FFF;
	float: right;
}

textarea
{
	height:200px!important;
}


.inputt
{
	background:rgba(255, 255, 255, .8)!important;
	color:#FFF;
}

.inputt:focus
{
	background:rgba(255, 255, 255, .4)!important;
	color:#FFF;
}


.parrafcon
{
	font-size:16px!important;
}
/*==========================================================Flex Container*/

.flex-container {
    min-width: 150px;
    max-width: 960px;
	margin: 3% auto;
}

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  { outline: none; }
 
.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.flexslider a img { outline: none; border: none; }
 
.flexslider {
    margin: 0;
    padding: 0;
}


.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
 
.flexslider .slides img {
    width: 100%;
    display: block;
 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }

.flexslider {
    position: relative;
    zoom: 1;
    padding: 10px;
    background: #ffffff;
 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.flex-direction-nav a {
    display: block;
    position: absolute;
    margin: -17px 0 0 0;
    top: 22%;
    cursor: pointer;
	width: 85px;
	height: 215px;
	
}

.flex-direction-nav a:before {
    display: block;
    position: absolute;
    content: '';
    width: 9px;
    height: 13px;
    top: 11px;
    left: 11px;
}
 
.flex-direction-nav a:after {
    display: block;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 35px;
}


.flex-direction-nav .flex-next {
    right: -110px;
 
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;

}
 
.flex-direction-nav .flex-prev {
    left: -110px;
 
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
	
}
 
.flex-direction-nav .flex-next:before { background-position: -9px 0; left: 15px; }
.flex-direction-nav .flex-prev:before { background-position: 0 0; }
 
.flex-direction-nav .flex-next:after {
    right: 0;
}
 
.flex-direction-nav .flex-prev:after {
    left: 0;
}

.flexslider .flex-control-nav {
    width: 100%;
    bottom: -40px;
    text-align: center;
    margin: 0 0 0 -10px;
}
 
.flex-control-nav li {
    display: inline-block;
    zoom: 1;
}
 
.flex-control-paging li a {
    display: block;
    cursor: pointer;
    text-indent: -9999px;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    background-color: #b6b6b6 \9;
 
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
 
    -webkit-box-shadow: inset 0 0 0 2px #fc5f00;
    -moz-box-shadow: inset 0 0 0 2px #fc5f00;
    box-shadow: inset 0 0 0 2px #fc5f00;
}
 
.flex-control-paging li a.flex-active {
    background-color: #fcb400;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fcb400), to(#fb9f00));
    background-image: -webkit-linear-gradient(top, #fcb400, #fb9f00);
    background-image: -moz-linear-gradient(top, #fcb400, #fb9f00);
    background-image: -o-linear-gradient(top, #fcb400, #fb9f00);
    background-image: linear-gradient(to bottom, #fcb400, #fb9f00);
 
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.flexslider .slides p {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 5px;
    margin: 0;
 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px;
    color: white;
 
    background-color: #222222;
    background: rgba(0,0,0, .9);
 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
