/*=================================*/
/* Square Slider (from https://squareup.com)
/* August 2012
/* By: Gilbert Pellegrom
/* http://dev7studios.com
/*=================================*/

/*====================*/
/*=== Reset Styles ===*/
/*====================*/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	contentq: "";
}
blockquote, q {
	quotes: "" "";
}*/
/* HTML5 tags */
/*header, section, footer,
aside, nav, article, figure {
	display: block;*
}*/

/*===================*/
/*=== Main Styles ===*/
/*===================*/
/*body {
	font: 14px/22px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
	color: #888;
	background: #fff;
}

a, a:visited {
	color: #50A9CA;;
	text-decoration: none;
}
a:hover, a:active {
	color: #3690B1;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	margin-bottom: 0.6em;
}
h1 {
	font-size: 2.2em;
}
h2 {
	font-size: 1.9em;
}
h3 {
	font-size: 1.7em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1.3em;
}
h6 {
	font-size: 1.2em;
}
p {
	margin-bottom: 1em;
}

ol, ul {
	padding-left: 30px;
	margin-bottom: 1em;
}

b, strong {
	font-weight: bold;
}
i, em {
	font-style: italic;
}
u {
	text-decoration: underline;
}
abbr, acronym {
	cursor: help;
	border-bottom: .1em dotted;
}
td, td img { vertical-align: top; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

code {
	font-family: Courier,"Courier New",Monaco,Tahoma;
	background: #eee;
	color: #000;
	padding: 0px 2px;
}
pre {
	background: #eee;
	padding: 20px;
	margin-bottom: 1em;
}
blockquote {
	font-style: italic;
	margin: 0 0 1em 15px;
	padding-left: 10px;
	border-left: 5px solid #000;
}*/

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
/* make buttons play nice in IE:   
    www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/*.page-title {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    color: #333;
    text-align: center;
    margin-top: 50px;
}

.footer {
    text-align: center;
    margin-bottom: 50px;
}
.footer .copyright {
    color: #D4D4D4;
}
.footer a {
    -moz-transition: color 0.8s ease;
    -webkit-transition: color 0.8s ease;
    -o-transition: color 0.8s ease;
    transition: color 0.8s ease;
}
.footer .copyright a { color: #bbb; }
.footer .copyright a:hover { color: #666; }
*/
/*=====================*/
/*=== Slider Styles ===*/
/*=====================*/

.square-slider {
    overflow-y:auto;
    background: #000;
}
.square-slider .slide {
    position: absolute;
	overflow-x:hidden;
	overflow-y:auto;
    top: 0;
    left: 0;
    width: 100%;

    min-height: 100%;
    display: none;
    opacity: 0;
    -moz-opacity: 0;
    -moz-transition: opacity 800ms cubic-bezier(0.51, 0.01, 0.37, 0.98) 100ms;
    -webkit-transition: opacity 800ms cubic-bezier(0.51, 0.01, 0.37, 0.98) 100ms;
    -o-transition: opacity 800ms cubic-bezier(0.51, 0.01, 0.37, 0.98) 100ms;
    transition: opacity 800ms cubic-bezier(0.51, 0.01, 0.37, 0.98) 100ms;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
	
	
}
.square-slider .slide:first-child { display: block; }
.square-slider .slide:first-child,
.square-slider .slide.active {
    opacity: 1;
    -moz-opacity: 1;
	display:block;
}
.square-slider .slide .contentq {
    position: relative;
	padding:10px;
    max-width: 520px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    -webkit-transition-property: -webkit-transform,opacity;
    -moz-transition-property: -moz-transform,opacity;
    -webkit-transition-duration: 800ms,700ms;
    -moz-transition-duration: 800ms,700ms;
    -webkit-transition-timing-function: cubic-bezier(0.51, 0.01, 0.37, 0.98);
    -moz-transition-timing-function: cubic-bezier(0.51, 0.01, 0.37, 0.98);
    -webkit-transform: translate3d(-30px, 0, 0);
    -moz-transform: translate(-30px, 0);
}

.square-slider #contentq {
    position: relative;
    top: 40%;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    -webkit-transition-property: -webkit-transform,opacity;
    -moz-transition-property: -moz-transform,opacity;
    -webkit-transition-duration: 800ms,700ms;
    -moz-transition-duration: 800ms,700ms;
    -webkit-transition-timing-function: cubic-bezier(0.51, 0.01, 0.37, 0.98);
    -moz-transition-timing-function: cubic-bezier(0.51, 0.01, 0.37, 0.98);
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate(0px, 0);
	color:#FFF;
}
.square-slider .slide.inverted .contentq {

}
.square-slider .slide.active .contentq {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate(0, 0);
}
.square-slider .slide .asset {
    position: relative;
    bottom: 0;
    left: 50%;
    -webkit-transition-property: -webkit-transform,opacity;
    -moz-transition-property: -moz-transform,opacity;
    -webkit-transition-duration: 800ms,700ms;
    -moz-transition-duration: 800ms,700ms;
    -webkit-transition-timing-function: cubic-bezier(0.51, 0.01, 0.37, 0.98);
    -moz-transition-timing-function: cubic-bezier(0.51, 0.01, 0.37, 0.98);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate(0, 0);
}
.square-slider .slide.inverted .asset {
    left: 27%;
    right: 50%;
}
.square-slider .slide.active .asset {
    -webkit-transform: translate3d(-7px, 3px, 0);
    -moz-transform: translate(-7px, 3px);
}
.square-slider .slide.inverted.active .asset {
    -webkit-transform: translate3d(7px, 3px, 0);
    -moz-transform: translate(7px, 3px);
}
.square-slider .prev,
.square-slider .next {
    background: url(../images/png/nav-square.png) no-repeat;
    display: block;
    width: 67px;
    height: 67px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    border: 0;
    text-indent: -9999px;
    display: none;
    opacity: 0.6;
    -moz-opacity: 0.6;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;

}
.square-slider .prev { 
    left: 5px; 
    background-position: 0 100%;
	z-index:1000;
}
.square-slider .next { right: 5px; z-index:1000;}
.square-slider .prev:hover,
.square-slider .next:hover {
    opacity: 1;
    -moz-opacity: 1;
}
.square-slider .overlay {
    width: 100%;
    height: 100%;
    -moz-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
}

/* Customisations */
.square-slider {
    width: 100%;
    height: auto;
    margin: 0 auto;
	min-height:100%;

	overflow-x: auto;
}
.square-slider .slide .contentq.light { color: #fff; }
.square-slider .slide .contentq.dark { 
    color: #333; 
    text-shadow: 0 1px 1px rgba(255,255,255,0.3);
}
.square-slider .slide1 { background: url(../images/jpg/fondo-servicio-webde1.jpg) no-repeat 50% 50%; background-size: cover; z-index:0;}
.square-slider .slide2 { background: url(../images/jpg/fondo-servicio-webde2.jpg) no-repeat 50% 50%; background-size: cover; z-index:-2;}
.square-slider .slide3 { background: url(../images/jpg/fondo-servicio-webde3.jpg) no-repeat 50% 50%; background-size: cover; z-index:-2;}

