#slides {
  position: relative;
  min-height:100%;
}
@media all and (max-width: 320px) and (min-width: 200px) {

	#slides 
	{
	position: relative;
	min-height:100%;
	}

}
#slides .slides-container {
  display: none;

}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation a.prev {
  left: 0;
  width: 53px;
  height: 53px;
  background: rgba(252, 180, 0, 0.4);
  color: #302508;
  min-height: 10px;
  text-align: center;
  line-height: 56px;
  font-size: 29px;
  font-weight: bold;
}
.slides-navigation a.next {
  right: 0;
  width: 53px;
  height: 53px;
  background: rgba(252, 180, 0, 0.4);
  color: #302508;
  min-height: 10px;
  text-align: center;
  line-height: 56px;
  font-size: 29px;
  font-weight: bold;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: -1px;
  text-align: center;
  width: 100%;
  height:25px;
  background:url(../images/png/botones-baner.png) repeat-x;
}
.slides-pagination a {
  border-radius: 15px;
  width: 17px;
  height: 17px;
  display: inline-block;
  margin:2px;
  background:url(../images/png/botones-baner.png) 0% 100%;
}
.slides-pagination a.current {
  background: url(../images/png/botones-baner.png) -63% 100%;
  width: 17px;
  height: 17px;
}
