@charset "utf-8";

/* CSS Document */

#mensajess
{
    background:url(../imagenes/err.png);
  color:#FFF;
}

input#jform_spacer-lbl
{font-size:8px;}

label#jform_password2-lbl
{position: absolute;
margin-left: 53px;
margin-top: -20px;}

input#jform_password2{
  margin-left: 54px;}

input#jform_email1
{}

label#jform_email2-lbl
{margin-top: -19px;
position: absolute;
margin-left: 53px;}

input#jform_email2
{}




#verm
{
background: url('../imagenes/fondo_menu.png');
color:#fff;
padding:8px 26px;
}

.menumenup
{
  list-style:none;
  width: 750px;
  height: 35px;
  background:url(../imagenes/fondo_menu.png);
}

.menumenup li
{
float:left;
  padding: 8px 22px;
  text-decoration:none;
}

.menumenup li a
{
  text-decoration:none;
  color:#FFF;
}

html
{  
 font-family: helvetica, arial; background:#fff url(../imagenes/fondocar.png) repeat-x bottom center;
}

body
{
height:100%;  width:100%;  
}


img {border: none;}

*{margin:0; padding:0;}

a:link{border:none; text-decoration:none; color:#FFF;}
a:hover{color:#FFF !important;}
a span:hover{color:#FFF;}


input[type="text"], input[type="password"], input[type="email"]
{
  background:#f5f5f5;
  border:none;
  height: 20px;
border: 2px #e8e7e8 solid;
  width: 288px;
}


/*------------------------------------------HEADER*/



header

{

  width:970px;

  height:auto;

  margin:0 auto;

}

#sec1
{
  width:920px;
  height:auto;
  padding: 11px 0 35px 51px;
  overflow:hidden;
}


#logo
{
  width:331px;
  height:101px;
  float:left;
}

#info
{
  width:540px;
  height:54px;
  padding:25px 0 0 38px;
  float:left;
}


#sec2
{
  width:1000px;
  height:auto;
}

nav
{
  width:970px;
  height:35px;
  background: #596f0a url(../imagenes/fondo_menu.png) repeat-x top left;
}

#redes
{
  width:200px;
  height:35px;
  float:left;
  text-align:center;
}

section
{

  width:972px;

  height:auto;

  margin:0 auto;

}


#sec3
{
  width:975px;
  height:auto;
  overflow:hidden;
  min-height: 499px;
}

#banner
{
  width:960px;
  height:480px;
  float:left;
  padding:5px;
  -webkit-box-shadow: 0px 0px 7px #CCC;
  -o-box-shadow: 0px 0px 7px #CCC;
  -ms-box-shadow: 0px 0px 7px #CCC;
  -moz-box-shadow: 0px 0px 7px #CCC;
  box-shadow: 0px 0px 7px #CCC;
  margin: 2px;
}

#botones
{
  width:170px;
  height:auto;
  min-height:480px;
  float:left;
  padding:0 0 0 15px;
}

#sec4
{
  width:970px;
  height:auto;
  overflow:hidden;
}

#reguistro
{
  width:841px;
  height:350px;
  margin:0 auto;
}


#caja_face
{
  width:970px;
  height: 90px;
  margin-top: 20px;
  clear: both;

}

#info_federacion
{
  width:430px;
  height:250px;
  float:left;
  padding:10px;
}

footer
{
  width:100%;
  height:18px;
  float:left;
  padding-top:10px;
  padding-bottom:10px;
  background:#c0bebe;
  margin-top:10px;
}

#info_footer
{
  width:970px;
  height:18px;
  text-align:center;
  margin: 0 auto;
}



