@charset "utf-8";

/* CSS Document */

dt.message, dt.error
{
visibility: hidden;
}


dd.message
{
  /*margin-top: -27px;*/
font-size: 15px;
}

.icons, .remositoryiconlist, .remositoryeditor, #license, #smalldesc
{
  visibility:hidden;
}


.jg_uploadcopyright.sectiontableentry2, .jg_uploadquotas
{
  font-family:helvetica;
  font-size:12px;
  color:#492f26;
}




#boton_hh
{
  text-align: center;
  cursor: pointer;
  margin-top: 5%;
  position: relative;
  bottom: 1.5em;
}

#boton_hhd
{
  text-align: center;
cursor: pointer;
margin-top: 5%;
}
#boton_hhh{
  text-align: center;
  margin-top: 5%;
}

#boton_h{
background-image: url('../imagenes/fondo_botones.png'); width: 114px; height: 59px; padding: 9px 30px; text-align: justify; word-wrap: break-word; cursor: pointer;font-family: helvetica; font-size: 9pt; color: #483023;
}



#verm
{
background: url('../imagenes/fondo_menu.png');
color:#fff;
padding:8px 26px;
}







.jg_toplist, .app-box-footer, .jsMenuIcon
{
  visibility:hidden;
}


.formelm
{
  margin-top:10px;
}

.formelm label
{
  margin-right:20px;
}

input[type="text"], input[type="password"], input[type="email"]
{
  /*background:url(../imagenes/fondo_input.png);
  border:none;
  height:30px;*/
  border: 1px #666 solid;
}

.validate
{
  padding: 5px 10px;
  color: #333;
}

li
{
  list-style:none;
}

.menumenup
{
  list-style:none;
  width: 750px;
  height: 35px;
  background:url(../imagenes/fondo_menu.png);
}

.menumenup li
{
float:left;
  padding: 8px 22px;
  text-decoration:none;
}

.menumenup li a
{
  text-decoration:none;
  color:#FFF;
}


html
{  
 font-family: helvetica, arial;
}

body
{
height:100%;  width:100%;  background:#fff;
}


img {border: none;}

*{margin:0; padding:0;}

a:link{border:none; text-decoration:none; color:#0591a6;}
a:visited{border:none; text-decoration:none; color:#0591a6;}
a:hover{color:#65cad9 !important;}
a span:hover{color:#65cad9;}




/*------------------------------------------HEADER*/


header

{

  width: 950px;

  height:auto;

  margin:0 auto;

}

#sec1
{
  height:auto;
  padding:1em 0 3em 0;
  overflow:hidden;
}


#logo
{
  width:331px;
  height:101px;
  float:left;
}

#info
{
  padding:1em 0 0 20px;
  float:right;
}


#sec2
{
   height:auto;
}

nav
{
  width: 749px;
  height:34px;
  float:left;
  background: #026979 url("../imagenes/menu.jpg") repeat-x top left;
}

#redes
{
  width: 190px;
  height:35px;
  float:left;
  text-align:center;
}

section
{

  width: 950px;

  height:auto;

  margin:0 auto;
  overflow:hidden;
  position: relative;
  bottom: 2px;

}



#sec3
{
  height:auto;
  overflow:hidden;
  min-height: 499px;
}

#contento
{
  width:750px;
  min-height:530px;
  float:left;
  
}

#botones
{
  width: 180px;
  height:auto;
  min-height:480px;
  float:left;
  padding:0 0 0 15px;
  margin-top: 6%;
}

#sec4
{
  height:auto;
  overflow:hidden;
}

#caja_face
{
  width: 47.5%;
  height: 314px;
  float: left;
  padding: 50px 15px 15px 5px;
  background: #335182 url("../imagenes/visita-face.png") 14px 10px no-repeat;
  border-top-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-top-left-radius: 15px;
  -o-border-top-left-radius: 15px;
  -ms-border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-top-right-radius: 15px;
  -ms-border-top-right-radius: 15px;
  -o-border-top-right-radius: 15px;
}

#info_federacion
{
  width: 47.5%;
  height: 314px;
  float:left;
  margin-left: 20px;

  padding: 50px 5px 15px 5px;
  background: #9f1d49 url("../imagenes/info-importante.png") 14px 10px no-repeat;
  border-top-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-top-left-radius: 15px;
  -o-border-top-left-radius: 15px;
  -ms-border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-top-right-radius: 15px;
  -ms-border-top-right-radius: 15px;
  -o-border-top-right-radius: 15px;
}

footer
{
  width:100%;
  height:18px;
  float:left;
  padding-top:10px;
  padding-bottom:10px;
  background:#c0bebe;
  margin-top:10px;
  position:fixed;
  bottom:0;
}

#info_footer
{
  width:970px;
  height:18px;
  text-align:center;
  margin: 0 auto;
}


@font-face {
    font-family: 'fertigo_proregular';
    src: url('fertigo_pro_regular-webfont.eot');
    src: url('fertigo_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fertigo_pro_regular-webfont.woff') format('woff'),
         url('fertigo_pro_regular-webfont.ttf') format('truetype'),
         url('fertigo_pro_regular-webfont.svg#fertigo_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#orq_btn {
  position: relative;
  bottom: 2.5em;
}

#botones .custom {
border-top: 1px solid;
padding-top: 15%;
}

.ppl_cont {
  margin: 5em 0;
}

#base_concurso, #categorias_cont, #img_show, #jurados_content, #cont_gallery {
  padding-top: 2em;
}

#categorias_cont, #base_concurso {
  padding-bottom: 2em;
}

#base_concurso h1, #categorias_cont h1, #jurados_content h1, .introduction h1, #cont_premios h1, #form_upload_img h1, #img_show h1, #cont_gallery h1 {
  color: #9F1D4A;
  background: url("../imagenes/concurso/vineta.png") no-repeat center left;
  height: 44px;
  vertical-align: middle !important;
  padding-left: 35px !important;
  font-family: Nyala, arial;
} 

#base_concurso h3, #jurados_content h3 {
  color: #0596AC;
}

#categorias_cont p span {
  color: #0596AC; 
}

#categorias_cont p {
  color: #404040;
}

#base_concurso p, #jurados_content p, .introduction p, #cont_premios p, #img_show p {
  margin-bottom: 25px !important;
  color: #404040;
}

#base_concurso img, #cont_premios img {
  margin-bottom: 25px;
}

ul#list_concurso {
  list-style-type: disc;
  padding-left: 30px;
  padding-bottom: 25px;
  color: #404040;
}

ul#list_concurso li {
  display: list-item;
  list-style: disc;
}

.link_style {
  color: #9F1D4A !important;
  float: right;
  text-decoration: underline !important;
  margin: 10px 0;
}

#jurados_content img {
  margin: 3px 25px 25px 0;
}

#jurados_content h3 {
  margin-bottom: 20px;
}

#cFrontpageSignup, .cFrontPageRight {
  text-align: center;
}

.frontlogin#username {
  margin-top: 20px;
  margin-right: 110px;
}

.frontlogin#username:focus, .frontlogin#password:focus {
  border: 2px #F0F0F0 solid;

}

.frontlogin#password {
  margin-right: 110px;
  height: 21px !important;
}

#usr_img {
  position: relative;
  left: 100px;
  top: 10px;
}

#cod_img {
  position: relative;
  top: 10px;
  left: 100px;
}

#form-login .button {
  background: url("../imagenes/participa/boton-iniciar.jpg") no-repeat top left;
  width: 104px;
  height: 26px;
  padding: 0 !important;
  text-indent: -99999px;
  border: none;
}

#cont_premios p {
  margin-top: 25px !important;
}

.flex-direction-nav a.flex-prev {
  width: 40px;
  height: 40px;
  background: url("../imagenes/galeria/foto-anterior.png") no-repeat 0 0;
  text-indent: -9999px;
}

.flex-direction-nav a.flex-next {
  width: 40px;
  height: 40px;
  background: url("../imagenes/galeria/foto-siguiente.png") no-repeat 0 0;
  text-indent: 9999px;
}

.profesional_gallery #info_img {
  background: url("../imagenes/galeria/Profesional/barra.jpg") repeat-x 0 0;
}

.ninos_gallery #info_img {
  background: url("../imagenes/galeria/Ninos/barra.jpg") repeat-x 0 0;
}

.amateur_gallery #info_img {
  background: url("../imagenes/galeria/Amateur/barra.jpg") repeat-x 0 0;
}

.moviles_gallery #info_img {
  background: url("../imagenes/galeria/Moviles/barra.jpg") repeat-x 0 0;
}

.flexslider {
  margin-bottom: 0px !important;
}

#carousel {
  bottom: 4px;
  border-top: 0px;
}

.profesional_gallery #info_img .separador {
  background: url("../imagenes/galeria/Profesional/divisor-barra.jpg") no-repeat 0 0;
}

.ninos_gallery #info_img .separador {
  background: url("../imagenes/galeria/Ninos/divisor-barra.jpg") no-repeat 0 0;
}

.amateur_gallery #info_img .separador {
  background: url("../imagenes/galeria/Amateur/divisor-barra.jpg") no-repeat 0 0;
}

.moviles_gallery #info_img .separador {
  background: url("../imagenes/galeria/Moviles/divisor-barra.jpg") no-repeat 0 0;
}

.separador {
  width: 1px;
  height: 29px;
}

#info_img p {
  float: left;
  margin-top: 9px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

#info_img p img {
  vertical-align: middle;
}

#info_img em {
  float: left;
  margin-top: 4px;
}

#info_img {
  height: 38px;
  width: 742px;
  color: white;
  position: relative;
  bottom: 4px;
  left: 4px;
  font-size: 14px;
}

.zoom_gallery_icon {
  margin-right: 0px !important;
}

.autor_gallery {
  width: 34%;
}

.titulo_gallery {
  width: 35%;
}

.face_gallery {
  cursor: pointer;
}

.face_gallery a {
  color: #FFFFFF;
}

.face_gallery a:hover {
  color: #FFFFFF !important;
}

.zoom_gallery_icon {
  cursor: pointer;
}

.fancybox {
  cursor: default;
}

#member-registration input, #member-registration select {
  border: 1px solid #0591a6 !important;
  height: 2em;
  width: 50%;
}

#member-registration dl {
  margin-top: 1em;
}

#member-registration dt {
  margin-top: 1em;
}

#member-registration .button-register {
  margin-top: 1em; 
}

#codigo_show {
  font-size: 30px;
}

#member-registration .button-register button{
  padding: 5px 10px;
  background: #036A7B;
  border: 0;
  color: #FFFFFF;
}

#cod_generate {
  background: #9F1D4A !important;
}

#member-registration label.error, #SingleUploadForm label.error {
  color: #9F1D4A;
  font-style: italic;
  margin-left: 1em;
}

.viewminigaleria {
  float: left;
  margin-right: 1em;
}

.terms {
  margin-left: 1em;
}