@charset "utf-8";



/* CSS Document */


#boton_hh
{
background: url('../imagenes/fondo_botones.png'); 
font-family: helvetica; 
font-size: 9pt; 
color: #483023; 
width: 114px; 
height: 15px; 
padding: 30px; 
text-align: center; 
word-wrap: break-word; 
background-position: initial initial; 
background-repeat: initial initial; 
cursor: pointer;
}

#boton_hhd
{
background: url('../imagenes/fondo_botones.png'); 
font-family: helvetica; 
font-size: 9pt; 
color: #483023; 
width: 106px; 
height: 120px; 
padding: 30px; 
text-align: center; 
word-wrap: break-word; 
background-size:cover;
cursor: pointer;
border: 4px solid #68adb7;
}
#boton_hhh{
background-image: url('../imagenes/fondo_botones.png'); width: 114px; height: 58px; padding: 9px 30px; text-align: center; word-wrap: break-word; background-position: initial initial; background-repeat: initial initial; cursor: pointer;font-family: helvetica; font-size: 9pt; color: #483023;
}

#boton_h{
background-image: url('../imagenes/fondo_botones.png'); width: 114px; height: 59px; padding: 9px 30px; text-align: justify; word-wrap: break-word; cursor: pointer;font-family: helvetica; font-size: 9pt; color: #483023;
}

#boton_hh:hover, #boton_hhh:hover, #boton_h:hover{
background: url('../imagenes/fondo_botonesh.png');
}

#verm
{
background: url('../imagenes/fondo_menu.png');
color:#fff;
padding:8px 26px;
}




.jg_toplist, .jsMenuIcon, .app-box-footer

{

  visibility:hidden;

}





.formelm

{

  margin-top:10px;

}



.formelm label

{

  margin-right:20px;

}



input[type="text"], input[type="password"], input[type="email"]

{

  background:url(../imagenes/fondo_input.png);

  border:none;

  height:30px;

  border-radius: 3px;

-webkit-border-radius: 3px;

-moz-border-radius: 3px;

-ms-border-radius: 3px;

-o-border-radius: 3px;

}







li

{

  list-style:none;

}



.menumenup

{

  list-style:none;

  width: 750px;

  height: 35px;

  background:url(../imagenes/fondo_menu.png);

}



.menumenup li

{

float:left;

  padding: 8px 22px;

  text-decoration:none;

}



.menumenup li a

{

  text-decoration:none;

  color:#FFF;

}





html

{  

 font-family: helvetica, arial;

}



body

{

height:100%;  width:100%;  background:#fff;

}





img {border: none;}



*{margin:0; padding:0;}



a:link{border:none; text-decoration:none; color:#0591a6;}

a:visited{border:none; text-decoration:none; color:#0591a6;}

a:hover{color:#65cad9 !important;}

a span:hover{color:#65cad9;}









/*------------------------------------------HEADER*/







header



{



  width:970px;



  height:auto;



  margin:0 auto;



}



#sec1

{

  width:970px;

  height:auto;

  padding:20px 0 15px 0;

  overflow:hidden;

}





#logo

{

  width:331px;

  height:101px;

  float:left;

}



#info

{

  width:600px;

  height:54px;

  padding:34px 0 0 38px;

  float:left;

}





#sec2

{

  width:970px;

  height:auto;

}



nav

{

  width:756px;

  height:35px;

  float:left;

  background: #026979 url(../imagenes/fondo_menu.png) repeat-x top left;

}



#redes

{

  width:200px;

  height:35px;

  float:left;

  text-align:center;

}



section

{



  width:970px;



  height:auto;



  margin:0 auto;

  





}





#sec3

{

  

  width: 970px;

height: auto;

min-height: 499px;
  margin-top: 48px;

  

}



#contento

{

  width:970px;

  min-height:530px;

  padding:5px;


}



#botones

{

  width:170px;

  height:auto;

  min-height:480px;

  float:left;

  padding:0 0 0 15px;

}



#sec4

{

  width:970px;

  height:auto;

  overflow:hidden;

}



#caja_face

{

  width:465px;

  height: 215px;

  float: left;

  padding: 50px 15px 15px 15px;

  background: #335182 url(../imagenes/face.png) 14px 10px no-repeat;

  border-top-left-radius: 15px;

  -webkit-border-top-left-radius: 15px;

  -moz-border-top-left-radius: 15px;

  -o-border-top-left-radius: 15px;

  -ms-border-top-left-radius: 15px;

  border-top-right-radius: 15px;

  -webkit-border-top-right-radius: 15px;

  -moz-border-top-right-radius: 15px;

  -ms-border-top-right-radius: 15px;

  -o-border-top-right-radius: 15px;

}



#info_federacion

{

  width:430px;

  height:250px;

  float:left;

  padding:10px;

}



footer

{

  width:100%;

  height:18px;

  float:left;

  padding-top:10px;

  padding-bottom:10px;

  background:#c0bebe;

  margin-top:10px;

  position:fixed;

  bottom:0;

}



#info_footer

{

  width:970px;

  height:18px;

  text-align:center;

  margin: 0 auto;

}

@font-face {
    font-family: 'fertigo_proregular';
    src: url('fertigo_pro_regular-webfont.eot');
    src: url('fertigo_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fertigo_pro_regular-webfont.woff') format('woff'),
         url('fertigo_pro_regular-webfont.ttf') format('truetype'),
         url('fertigo_pro_regular-webfont.svg#fertigo_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}





