ul.dropdown {
    position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: helvetica,Aral;
    font-size: 16px;
    background: #809b1f url(../images/fondo_menu.png) repeat-x top left;
}

ul.dropdown li {
	list-style: none;
    float: left;
    zoom: 1;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

ul.dropdown a:hover {
    color: #000;
}

ul.dropdown a:active {
    color: #CCC;
}

ul.dropdown li a {
    display: block;
    padding: 7.8px 17.9px;
    color: #fff;
}

ul.dropdown li:last-child a {
    border-right: none;
}
 /* Doesn't work in IE */
ul.dropdown li.hover, ul.dropdown li:hover {
    background: #556a07;
    position: relative;
    color:#fff;
}

ul.dropdown li.hover a {
    color: #fff;
    
}

ul.dropdown ul {
    width: 190px;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
}

ul.dropdown ul li {
    font-weight: normal;
    background: #026979 url(../images/fondo_menu.png) repeat-x top left;
    color: #000;
    float: none;
	margin-top:1px !important;
}

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a {
    border-right: none;
    width: 67%;
    display: inline-block;
	font-size: 14px;
}

ul.dropdown ul ul {
	list-style: none;
    left: 100%;
    top: 0;
	margin: 0;
	padding: 0;
	font-family: helvetica,Aral;
    font-size: 16px;
}

ul.dropdown li:hover > ul {
    visibility: visible;
}

ul.dropdown a {
	text-decoration: none;
}

ul.dropdown li {
	display:block;
}

.sub_menu {
  margin:0 !important;
  z-index: 1000 !important;
  position:absolute;
}

.sub_menu  li{
  margin:0 !important;
  z-index: 1000 !important;
}

.sub_menu  li a {
  margin:0 !important;
  z-index: 1000 !important;
}

.dropdown {
  z-index: 1000 !important;
}

.menuactive a {
  color: #FFF !important;
  background: #556a07;
}

.separator {
  height: 3px;
  background: url("../images/overlay2.png") repeat-x scroll left top #909090;
}

.separator:hover {
  height: 3px;
  background: url("../images/overlay2.png") repeat-x scroll left top #909090 !important;
}
