@import url('grid_12-825-55-15.css');

/*  
	CSS Reset by Eric Meyer - Released under Public Domain
    http://meyerweb.com/eric/tools/css/reset/
*/




body {
	color: #000;
	background-color: #dcdcdc;
}

a {
	text-decoration: none;
	color: #1883ba;
}

h1{
	font-size: 32px;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 18px;
}

.gallery h2{
	font-size: 18px;
	font-family: fertigo_proregular; 
	color: #33cccc;
	background: url(../../imagenes/li2.png) no-repeat 0px 6px;
	height: 33px;
}

.sectiontableheader
{
	font-family: fertigo_proregular; 
	color: #ff9900;
	font-size: 23px;
}

.jg_element_txt
{
	font-family: fertigo_proregular; 
}

