#system-message-container
{
	display: none;
}

#modal-messages
{
	position: absolute;
	text-align: center;
	width: 500px;
	height: auto;
	left: 0;
	top: 0;
	z-index: 1000;
	background: #353434;
    border-radius: 30px 30px 30px 30px;
    padding: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

#messages-overlay
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: #000000;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    opacity: 0.6;
}

#modal-messages #messages-header
{
	height: 35px;
	width: 100%;
	background: #ededed;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
    display: block;
    color: #717171;
    text-align: left;
    line-height: 35px;
    font-size: 125%;
}

#modal-messages #messages-header #messages-title
{
    float: left;
    margin-left: 15px;
    font-weight: bold;
}

#modal-messages #messages-header #messages-close
{
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}

#modal-messages #messages-main
{
	background: #ededed;
    height: auto;
    width: 100%;
    display: block;
    color: #717171;
    font-size: 125%;
    text-align: justify;
    min-height: 100px;    
}


#modal-messages #messages-main p
{
	margin: 0;
    padding: 15px;
    text-align: justify;
    font-size: 85%;
    line-height: 125%;
}

#modal-messages #messages-footer
{
	clear: left;
	display: block;
	width: auto;
	height: 35px;
	background: #ededed;
	color: #f9fea6;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	line-height: 35px;
    padding-right: 15px;
    font-size: 85%;
    text-align: right;
}

#modal-messages #messages-footer a
{
	color: #f9fea6;
	border-bottom: 1px dotted #f9fea6;
}

#modal-messages #messages-header.error
{
    background: #E08021;
}

#modal-messages #messages-main span
{
	display: block;
	margin-bottom: 10px;
}

#modal-messages #messages-main span.messages-error
{
	color: #E08021;
}

#modal-messages #messages-main span.messages-notice
{
	color: #717171;
}