.toast-container{z-index:9999; height:1px; }
.toast-container{position:absolute;font-family:Helvetica,Arial,sans-serif;}
.toast-item{height:auto;
color:#eee;
padding-top:20px;
padding-bottom:20px;
padding-left:0px;
font-family:lucida Grande;
font-size:15px;
display:block;
position:relative;
margin:0 0 12px 0;}
.shareicon{opacity:0.9;}
.shareicon:hover{opacity:1;}
.toast-item p{text-align:center;margin:0px; font-family:Helvetica,Arial,sans-serif;}
.toast-item-close{background:url(../images/close.png);width:30px;height:30px;position:absolute;top:-20px;right:-15px;}
.toast-item-image{width:32px;height:32px;margin-left:10px;margin-top:10px;margin-right:10px;float:left;}
.toast-position-top-left{position:fixed;left:20px;top:20px;}
.toast-position-top-center{position:fixed;top:20px;left:50%;margin-left:-140px;}
.toast-position-top-right{position:fixed;top:20px;right:20px;}
.toast-position-middle-left{position:fixed;left:20px;top:50%;margin-top:-40px;}
.toast-position-middle-center{position:fixed;left:50%;margin-left:-140px;margin-top:-40px;top:50%;}
.toast-position-middle-right{position:fixed;right:20px;margin-left:-140px;margin-top:-40px;top:50%;}
.toast-position-bottom-right{position:fixed;right:20px;margin-left:-140px;margin-top:-40px;top:80%;}
.toast-position-bottom-center{position:fixed;left:50%;margin-left:-140px;margin-top:-40px;top:80%;}
.toast-position-bottom-left{position:fixed;left:20px;top:80%;margin-top:-40px;}