.pane-sliders .panel
{ 
	border: none !important; 
	font-family: arial;	
}

.pane-sliders .panel > h3
{
	background: url("../images/header-bg.gif") repeat-x !important;
	height: 37px;
	line-height: 37px;
	padding: 0;
}

.pane-sliders .panel h3 span
{
	text-transform: uppercase;
	color: #2a819d;
	font-size: 16px;
}

.pane-toggler-down
{
	border-bottom: none !important;
}

.pane-toggler-down span
{
    background: url("../images/arrow-down.gif") no-repeat scroll 8px 50% transparent !important;
    padding-left: 26px !important;
}

.pane-toggler span
{
    background: url("../images/arrow-up.gif") no-repeat scroll 10px 50% transparent !important;
    padding-left: 26px !important;
}

.pane-sliders .panel
{
	border: 1px solid #cacaca !important;
	border-top: 1px solid #2a819d !important;
	border-radius: 5px 5px 5px 5px;
	padding: 0 1px;

}

fieldset.panelform
{
	padding:10px !important;
}

fieldset.panelform li > label,
fieldset.panelform div.paramrow label,
fieldset.panelform span.faux-label
{
    max-width: 30% !important;
    min-width: 30% !important;
}

fieldset.panelform .spacer h3
{
	padding-top: 5px;
	margin: 0px;
	background: #fff !important;
}

#jform_params_about-lbl
{
	display: none;
}

.panel fieldset.panelform > ul > li > span.spacer
{
	font-size: 14px;
	text-transform: uppercase;
	color: #2a819d;
}

.panel fieldset.panelform > ul > li > label
{
    color: #505050;
    font-size: 11px;
    font-weight: bold;
    max-width: 30% !important;
    min-width: 30% !important;
    text-align: left;
    padding-left: 10px;
}

.panel fieldset input,
.panel fieldset textarea,
.panel fieldset select,
.panel fieldset img,
.panel fieldset button
{
    float: none;
}

.panel fieldset input[type="radio"]
{
	float: left;
}

.fltrt ul.adminformlist li
{
    border-bottom: 1px dotted  #c4c4c4;
	min-height:35px;
	padding:0px;
	margin:5px;
}

.chzn-container  ul.chzn-results
{
	min-width: 95%;
}

.fltrt ul.adminformlist li li
{
    border-bottom: none;
	min-height: 0;
	line-height: 80%;
	padding: 7px 7px 8px;
	margin: 0;
	list-style: none;
}

fieldset.adminform fieldset.radio,
fieldset.panelform fieldset.radio,
fieldset.adminform-legacy fieldset.radio
{
    border: 0 none;
    float: left;
    margin: 0 0 5px;
	max-width: 65% !important;
    min-width: 65% !important;
    padding: 0;
}

fieldset.panelform input[type="text"],
fieldset.panelform textarea
{
    background: -moz-linear-gradient(center bottom , white 85%, #EEEEEE 99%) repeat scroll 0 0 transparent;
    border: 1px solid #AAAAAA;
    font-family: sans-serif;
	font-size: 11px;
    margin: 1px 0 5px;
    outline: 0 none;
    padding: 6px 20px 6px 5px;
	border-radius: 4px 4px 4px 4px;
	min-width: 145px;
}

fieldset.panelform .chzn-search input[type="text"]
{
	min-width: 130px;
}

.switcher-yes,
.switcher-no
{
    background: url("../images/switcher-yesno.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    height: 30px;
    margin-top: 0;
    width: 69px;
}

.switcher-no
{
    background-position: 0 -30px;
}

.switcher-on,
.switcher-off
{
    background: url("../images/switcher-onoff.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    height: 30px;
    width: 69px;
}

.switcher-off
{
    background-position: 0 -30px;
}
