@charset "utf-8";

/* CSS Document */

#pop
{
  width: 350px; 
  height: 153px;
margin-top: -480px;
margin-left: 405px;
z-index: 1000;
position: relative;
display: none;
}


#boton_hh
{
  text-align: center;
  cursor: pointer;
  margin-top: 5%;
  position: relative;
  bottom: 1.5em;
}

#boton_hhd
{
  text-align: center;
cursor: pointer;
margin-top: 5%;
}
#boton_hhh{
  text-align: center;
  margin-top: 5%;
}

#boton_h{
background-image: url('../imagenes/fondo_botones.png'); width: 114px; height: 59px; padding: 9px 30px; text-align: justify; word-wrap: break-word; cursor: pointer;font-family: helvetica; font-size: 9pt; color: #483023;
}

#verm
{
background: url('../imagenes/fondo_menu.png');
color:#fff;
padding:8px 26px;
}

.menumenup
{
  list-style:none;
  width: 750px;
  height: 35px;
  background:url(../imagenes/fondo_menu.png);
}

.menumenup li
{
float:left;
  padding: 8px 22px;
  text-decoration:none;
}

.menumenup li a
{
  text-decoration:none;
  color:#FFF;
}

html
{  
 font-family: helvetica, arial;
}

body
{
height:100%;  width:100%;  background:#fff;
}


img {border: none;}

*{margin:0; padding:0;}

a:link{border:none; text-decoration:none; color:#0591a6;}
a:hover{color:#65cad9 !important;}
a span:hover{color:#65cad9;}





/*------------------------------------------HEADER*/



header

{

  width: 950px;

  height:auto;

  margin:0 auto;

}

#sec1
{
  height:auto;
  padding:1em 0 3em 0;
  overflow:hidden;
}


#logo
{
  width:331px;
  height:101px;
  float:left;
}

#info
{
  padding:1em 0 0 20px;
  float:right;
}


#sec2
{
  height:auto;
}

nav
{
  width: 750px;
  height:34px;
  float:left;
  background: #026979 url("../imagenes/menu.jpg") repeat-x top left;
}

#redes
{
  width: 190px;
  height:35px;
  float:left;
  text-align:center;
}

section
{

  width: 950px;

  height:auto;

  margin:0 auto;
  overflow:hidden;

}


#sec3
{
  height:auto;
  overflow:hidden;
  min-height: 499px;
}

#banner
{
  width: 740px;
  height:480px;
  float:left;
  padding:5px;
  -webkit-box-shadow: 0px 0px 7px #CCC;
  -o-box-shadow: 0px 0px 7px #CCC;
  -ms-box-shadow: 0px 0px 7px #CCC;
  -moz-box-shadow: 0px 0px 7px #CCC;
  box-shadow: 0px 0px 7px #CCC;
  
}

#botones
{
  width: 180px;
  height:auto;
  min-height:480px;
  float:left;
  padding:0 0 0 15px;
  margin-top: 6%;
}

#sec4
{
  height:auto;
  overflow:hidden;
}

#caja_face
{
  width: 47.2%;
  height: 314px;
  float: left;
  padding: 50px 15px 15px 5px;
  background: #335182 url("../imagenes/visita-face.png") 14px 10px no-repeat;
  border-top-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-top-left-radius: 15px;
  -o-border-top-left-radius: 15px;
  -ms-border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-top-right-radius: 15px;
  -ms-border-top-right-radius: 15px;
  -o-border-top-right-radius: 15px;
}

#info_federacion
{
  width: 47.2%;
  height: 314px;
  float:left;
  margin-left: 20px;

  padding: 50px 5px 15px 5px;
  background: #9f1d49 url("../imagenes/info-importante.png") 14px 10px no-repeat;
  border-top-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-top-left-radius: 15px;
  -o-border-top-left-radius: 15px;
  -ms-border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-top-right-radius: 15px;
  -ms-border-top-right-radius: 15px;
  -o-border-top-right-radius: 15px;
}

footer
{
  width:100%;
  height:18px;
  float:left;
  padding-top:10px;
  padding-bottom:10px;
  background:#c0bebe;
  margin-top:10px;
}

#info_footer
{
  width:970px;
  height:18px;
  text-align:center;
  margin: 0 auto;
}

#botones .custom {
  border-top: 1px solid;
  padding-top: 15%;
}

#orq_btn {
  position: relative;
  bottom: 2.5em;
}

#important_info {
  height: 294px;
  background: #FFF;
  overflow-y: auto;
  padding: 15px;
  color: #404040;
}

#info_federacion h3, #info_federacion p span {
  color: #0596ac;
  font-family: Nyala, Arial;
  font-size: 1.4em;
}

#sec5 > div {
  float: left;
  width: 48.9%;
}

#federacion_info {
  margin-left: 20px;
}

#img_mitico {
  text-align: center;
  color: #000000 !important;
}

#img_mitico p a{
  color: #000000 !important;
  text-decoration: underline;
}

#cont_info_fed > div {
  display: inline-block;
}

#cont_info_fed > div.infofeint {
  width: 76%;
  margin-left: 10px;
  font-size: 14px;
  color: #404040;
}

.last_info_fe {
  font-size: 13px;
  margin-top: 25px;
}

#cont_info_fed {
  vertical-align: middle;
  margin-top: 15px;
}

#infofeint p strong {
  color: #000000;
}

#important_info h3 {
  border-top: 1px solid #404040;
  padding-top: 0.5em;
}

#important_info h3:first-child {
  border-top: none !important;
  padding-top: 0 !important;
}

.showplus-images a {
  cursor: default;
}