@charset "utf-8";

/* CSS Document */
input#single_imgtitle
{
background:none;
height: 23px;
border: 2px #aeaeae solid;
border-radius: 6px;
width: 270px;
}

textarea#single_imgtext
{
background: none;
height: 102px;
border: 2px #aeaeae solid;
border-radius: 6px;
width: 270px;
}

.formelm
{
font-family:verdana;
  color:##492f26;
}

.pagenav
{
background:url('../imagenes/pagi2.png');
  padding:6px;
  color:#FFF;
}

.pagination-prev span.pagenav, .pagination-next a.pagenav
{
background:url('../imagenes/pagi1.png');
}

.pagination-prev a.pagenav, .pagination-next span.pagenav
{
background:url('../imagenes/pagi1.png');
}

li a.pagenav
{
  color:#FFF;
}

dt.message, dt.error
{
visibility: hidden;
}


dd.message
{
font-size: 20px;
}

.icons, .remositoryiconlist, .remositoryeditor, #license, #smalldesc
{
  visibility:hidden;
}


.jg_uploadcopyright.sectiontableentry2, .jg_uploadquotas
{
  font-family:helvetica;
  font-size:12px;
  color:#492f26;
}





#verm
{
background: url('../imagenes/fondo_menu.png');
color:#fff;
padding:8px 26px;
}







.jg_toplist, .app-box-footer, .jsMenuIcon
{
  visibility:hidden;
}


.formelm
{
  margin-top:10px;
}

.formelm label
{
  margin-right:20px;
}

input[type="text"], input[type="password"], input[type="email"]
{
  background:url(../imagenes/fondo_input.png);
  border:none;
  height:30px;
  border:2px #F0F0F0 solid;
}

.validate
{
  padding: 5px 10px;
  color: #333;
}

li
{
  list-style:none;
}

.menumenup
{
  list-style:none;
  width: 750px;
  height: 35px;
  background:url(../imagenes/fondo_menu.png);
}

.menumenup li
{
float:left;
  padding: 8px 22px;
  text-decoration:none;
}

.menumenup li a
{
  text-decoration:none;
  color:#FFF;
}


html
{  
 font-family: helvetica, arial; background:#fff url(../imagenes/fondocar.png) repeat-x bottom center;
}

body
{
height:100%;  width:100%;  
}


img {border: none;}

*{margin:0; padding:0;}

a:link{border:none; text-decoration:none; color:#0591a6;}
a:visited{border:none; text-decoration:none; color:#0591a6;}
a:hover{color:#65cad9 !important;}
a span:hover{color:#65cad9;}




/*------------------------------------------HEADER*/



header

{

  width:970px;

  height:auto;

  margin:0 auto;

}

#sec1
{
  width:920px;
  height:auto;
  padding: 11px 0 35px 51px;
  overflow:hidden;
}


#logo
{
  width:331px;
  height:101px;
  float:left;
}

#info
{
  width:540px;
  height:54px;
  padding:25px 0 0 38px;
  float:left;
}


#sec2
{
  width:970px;
  height:auto;
}

nav
{
  width:970px;
  height:35px;
  float:left;
  background: #026979 url(../imagenes/fondo_menu.png) repeat-x top left;
}

#redes
{
  width:200px;
  height:35px;
  float:left;
  text-align:center;
}

section
{

  width:970px;

  height:auto;

  margin:0 auto;
  


}


#sec3
{
  
  width: 970px;
height: auto;
min-height: 499px;
  
}

#contento
{
  width:961px;
  min-height:530px;
  float:left;
  padding:5px;
  padding-top: 20px;
}


#sec4
{
  width:970px;
  height:auto;
  overflow:hidden;
}

#caja_face
{
  width: 970px;
  height: 90px;
  margin-top: 20px;
  clear:both;
}

#info_federacion
{
  width:430px;
  height:250px;
  float:left;
  padding:10px;
}

footer
{
  width:100%;
  height:18px;
  float:left;
  padding-top:10px;
  padding-bottom:10px;
  background:#c0bebe;
  margin-top:10px;
  position:fixed;
  bottom:0;
}

#info_footer
{
  width:970px;
  height:18px;
  text-align:center;
  margin: 0 auto;
}


@font-face {
    font-family: 'fertigo_proregular';
    src: url('fertigo_pro_regular-webfont.eot');
    src: url('fertigo_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fertigo_pro_regular-webfont.woff') format('woff'),
         url('fertigo_pro_regular-webfont.ttf') format('truetype'),
         url('fertigo_pro_regular-webfont.svg#fertigo_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
