@font-face {
    font-family: "Nyala";
    src: url("../font/nyala.ttf") format("truetype");
}

ul.dropdown {
    position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: helvetica,Aral;
  font-size: 16px;
  text-align: center;
}

ul.dropdown li {
	list-style: none;
    float: left;
    zoom: 1;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    background: #026979 url("../images/menu.jpg") repeat-x top left;
}

ul.dropdown a:hover {
    color: #000;
}

ul.dropdown a:active {
    color: #CCC;
}

ul.dropdown li a {
    display: block;
    padding: 7.7px 0px;
    color: #fff;
    width: 149.9px;
}

ul.dropdown li:last-child a {
    border-right: none;
}
 /* Doesn't work in IE */
ul.dropdown li.hover, ul.dropdown li:hover {
    position: relative;
    color:#fff;
    background: #026979 url("../images/menu-over.jpg") repeat-x top left;
}

ul.dropdown li.hover a {
    color: #fff;
    
}

ul.dropdown ul {
    width: 150px;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
}

.home_layout ul.dropdown ul {
  width: 151px !important;
}

ul.dropdown ul li {
    font-weight: normal;
    background: #026979 url(../images/menu.jpg) repeat-x top left;
    color: #000;
    float: none;
	margin-top: 0px !important;
}

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a {
    border-right: none;
  width: 100%;
  display: inline-block;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 0;
  text-align: left;
}

ul.dropdown ul ul {
	list-style: none;
    left: 100%;
    top: 0;
	margin: 0;
	padding: 0;
	font-family: helvetica,Aral;
    font-size: 16px;
}

ul.dropdown li:hover > ul {
    visibility: visible;
}

ul.dropdown a {
	text-decoration: none;
}

ul.dropdown li {
	display:block;
}

.sub_menu {
  margin:0 !important;
  z-index: 1000 !important;
  position:absolute;
}

.sub_menu  li{
  margin:0 !important;
  z-index: 1000 !important;
}

.sub_menu  li a {
  margin:0 !important;
  z-index: 1000 !important;
}

.dropdown {
  z-index: 1000 !important;
}

.menuactive a {
  color: #FFF !important;
  background: #026979 ;
  
}

.sub_menu .menuactive a {
  width: 130px !important;
}

.separator {
  height: 3px;
  background: url("../images/overlay2.png") repeat-x scroll left top #909090;
}

.separator:hover {
  height: 3px;
  background: url("../images/participa/overlay2.png") repeat-x scroll left top #909090 !important;
}

#sec5 {
  margin-top: 25px;
  padding-bottom: 11em;
}

.loginform > p {
  width: 45%;
  text-align: left;
  margin: 0 auto !important;
  border-top: 1px solid;
  padding-top: 10px !important;
}

.loginform {
  text-align: center;
  margin: 0 auto;
}

.loginform > img {
  padding-bottom: 10px !important;
}

.denied-box input#username {
  height: 24px !important;
  padding-left: 100px;
}

.denied-box input#password {
  height: 23px !important;
  padding-left: 100px;
}

.denied-box img#cod_img {
  top: 9px !important;
}

.denied-box h1 {
  margin: 0 0 20px !important;
  padding: 0 0 10px !important;
}

#system-message-container {
  background: #f1eff0;
  border: 1px solid #f78701;
  height: 4.8em;
  text-align: left;
  vertical-align: middle;
  color: black !important;
  display: none;
  padding-left: 1.5em;
}

#system-message-container span {
  color: #9F1D4A;
}

fieldset.jg-upload-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

fieldset.jg-upload-fieldset label {
  color: #0591a6;
}

.fields_file_img > div {
  float: left;
  width: 50%;
}

.fields_file_img {
  height: 3em;
  padding: 1.5em 1em;
}

.fields_file_img.border_inp_file {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.fields_file_img input[type="text"] {
  border: 1px solid #0591a6 !important;
  height: 2em;
  width: 100%;
}

.fields_file_img input {
  margin-top: 0.5em;
}

.btn_upload .button {
  background: url("../images/participa/boton-subir.jpg") no-repeat top left;
  border: none;
  width: 85px;
  height: 26px;
  text-indent: -9999px;
  text-align: center;
  float: right;
}

.btn_upload {
  text-align: center;
  margin-top: 3em !important;
  margin-bottom: 6em;
  /*width: 85px;
  position: relative;
  left: 33em;*/
}

#communitylogout .logout_btn {
  background: url("../images/participa/boton-cerrar.jpg") no-repeat top left;
  border: none;
  width: 123px;
  height: 26px;
  text-indent: -9999px;
  text-align: right;
  float: right;
  margin: 2em 0;
  cursor: pointer;
}

#logout_fake.logout_btn {
  background: url("../images/participa/boton-cerrar.jpg") no-repeat top left;
  border: none;
  width: 123px;
  height: 26px;
  text-indent: -9999px;
  text-align: right;
  float: right;
  cursor: pointer;
  margin-left: 1em;
}

#SingleUploadForm {
  margin-top: 2em;
}

#single_catid {
  border: 1px solid #0591a6;
  height: 2em;
  width: 15em;
}

.jg_up_eminithumb {
  height: auto !important;
  margin-top: 0.5em;
  border: 0.2em solid #C0BEBE;
}

.jg_up_ename {
  width: 45% !important;
  margin: 0 auto;
  float: none !important;
}

.sectiontableentry2, .sectiontableentry1 {
  margin-bottom: 1em;
}

.introduction h1 {
  font-family: Nyala, Arial !important;
  font-size: 40px !important;
}

.introduction {
  color: #404040;
}

.blank {
  color: #000000;
}

#system-message {
  text-align: left;
  color: #404040;
}

.ninos_color {
  color: #0596ac !important;
}

.moviles_color {
  color: #9f1d49 !important;
}

.amateur_color {
  color: #a6c639 !important;
}

.profesional_color {
  color: #492f26 !important;
}

#SingleUploadForm {
  color: #404040 !important;
}

ul.dropdown li:nth-child(2) ul.sub_menu{
  width: 151px !important;
}

ul.dropdown li:nth-child(2) ul.sub_menu li.menuactive a{
  width: 131px !important;
}

.align_center {
  text-align: center;
}

.valign_social {
  position: relative;
  bottom: 0.5em;
}

.custom_margin {
  margin-bottom: 0.2em;
}

.blue_label {
  color: #0591a6;
}

.close_session_bottom button{
  position: relative;
  bottom: 3.95em;
}

.jg_up_ename .fb-share-button {
  margin-top: 0.5em;
}