    <div class="antmenu"></div>	
		<div id="porta1" class="row">
			<div class="small-11 large-9 small-centered large-centered columns">
				<!--FLEX-->
				<div class="flex-container">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<img src="images/jpg/port1.jpg" />
							</li>
				 
							<li>
								<img src="images/jpg/port2.jpg" />
							</li>
							
							<li>
								<img src="images/jpg/port3.jpg" />
							</li>
                            <li>
								<img src="images/jpg/port4.jpg" />
							</li>
                            <li>
								<img src="images/jpg/port5.jpg" />
							</li>
                            <li>
								<img src="images/jpg/port6.jpg" />
							</li>
                            <li>
								<img src="images/jpg/port7.jpg" />
							</li>
                            <li>
								<img src="images/jpg/port8.jpg" />
							</li>
				 
						</ul>
					</div>
				</div>
				<!--FIN FLEX-->
			</div>			
		<!--FIN BANNER-->
			<div class="margin2 small-10 large-6 small-centered large-centered columns">
				<!--Pablo-->
				<div id="pablo" class="row team">
					<div class="small-12 large-4 columns">
					<h6>Pablo Javier Morales<br>Production Manager</h6><br>
					<p>
					Partner and Production Area Manager, Pablo is the founder of Webde and the basis on which rests the creativity and technological development of the company. Pablo manages the talent of our designers and developers, and he participates actively and decisively in production processes, both design and programming.
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<p>
					Specialist programming html5, CSS3 and CMS systems, he is also an experimented creative designer who loves to develop Digital Marketing strategies. <br>Pablo has trained in UI and UEX website development and in html5 mobile apps.
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<img class="port" src="images/jpg/pablo.jpg" alt="Pablo webde" title="Pablo webde">
					</div>
				</div>
				
				<!--MM-->
				<div id="mm" class="row team teamInactive">
					<div class="small-12 large-4 columns">
					<h6>María del Mar Fito <br>Sales and Marketing Manager</h6><br>
					<p>
					Partner and Commercial and Marketing Manager, Maria del Mar is responsible for designing our communication and sales strategies, as well as getting out Webde to the rest of world and having satisfied to our customers.
					BA in Journalism, she has a Masters Degree in Marketing, Sales Management and Advertising. 
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<p>
					She’s also Technical Graphic Design. María del Mar worked for over ten years in the area of communications, design and advertising, and for more than five years in the area of marketing and sales.
					<br>"I consider myself an entrepreneurial, dynamic and hardworking person. I like to learn something new every day, reading, traveling and enjoying my people. I think we can enjoy what we do every day while we add our "two cents" to build a better world. "

					</p>
					</div>
					<div class="small-12 large-4 columns">
					<img class="port" src="images/jpg/mm.jpg" alt="Maria del Mar webde" title="Maria del Mar webde">
					</div>
				</div>
				
				<!--Camilo-->
				<div id="camilo" class="row team teamInactive">
					<div class="small-12 large-4 columns">
					<h6>Juan Camilo Buriticá<br>Developer Senior</h6><br>
					<p>
					Working with the company right from the beginning, he is the first developer that took the company and since then he is specialized in providing solutions to the challenges that appear in each project.
					As a Senior Developer, one of his tasks is web programming. Websites, platforms, mobile applications and games are programmed by Camilo through html5 system. 
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<p>
					He manages, among others, technologies such as javascript, php, c #, css and actionscript.
					"Logical and rational by nature, I recognize myself analytical “since I was a little kid", and although sometimes I am a bit complicated, I am a loyal friend and a good counselor. I have made of my major passions, technology and internet, my job, but I also enjoy other hobbies, such as anime, manga and camping out with my friends, preferably at rivers. "

					</p>
					</div>
					<div class="small-12 large-4 columns">
					<img class="port" src="images/jpg/camilo.jpg" alt="Camilo webde" title="Camilo webde">
					</div>
				</div>
				<!--Judith-->
				<div id="ju" class="row team teamInactive">
					<div class="small-12 large-4 columns">
					<h6>Judith Mora<br>Quality Supervisor</h6><br>
					<p>
					She has recently come to the Webde team. Judith is our Quality Supervisor. She works implementing the business processes to ensure that all our products and services meet the highest demands of quality, so that the client is fully satisfied and that our work worthwhile. </p>
					</div>
					<div class="small-12 large-4 columns">
					<p>
					Like all people who are part of this big family, Judith is in constant learning, and not only in the quality area. Currently, Judith is studying Business Management at the Autonomous University of Manizales.
					"I love languages. I studied two years of English, two years of Italian, one semester of Japanese and other semester of German. My main hobbies are: playing the clarinet, going to the cinema, reading and playing sports. "

					</p>
					</div>
					<div class="small-12 large-4 columns">
					<img class="port" src="images/jpg/judith.jpg" alt="Judith webde" title="Judith webde">
					</div>
				</div>
				<!--Alex-->
				<div id="alex" class="row team teamInactive">
					<div class="small-12 large-4 columns">
					<h6>Alexander Arias<br>Developer</h6><br>
					<p>
					One of the latest additions to our team, Alexander is developer and his role is the website development and drupal management. Alexander has knowledge of C # and Java language.
					"My expectation in the company is to grow in knowledge and I aspire to be one of the most renowned engineers. 
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<p>
					Regarding my hobbies, more than anything, I love to read (one of my favorite authors is Stephen Covey), and to write poetry. In my spare time, if I'm not studying, I love to walk and disconnect from the world and, for a moment, to put my five senses in union with nature. "
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<img class="port" src="images/jpg/alex.jpg" alt="Alex webde" title="Alex webde">
					</div>
				</div>
				<!--Felipe-->
				<div id="pipe" class="row team teamInactive">
					<div class="small-12 large-4 columns">
					<h6>Andrés Felipe Morales<br>E-Marketing Developer</h6><br>
					<p>
					Proactive and hardworking, Felipe is our Digital Marketing Developer. He materializes strategies designed by our Digital Marketing Department to achieve the goals set by our clients.
					Felipe handles html5 and css3 systems, and he is specialized in SEO, SEM, Social Marketing, Email 
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<p>
					Marketing and Web Management Platforms. He has also fronted and backend experience.
					<br>"In my spare time, I am a skateboarding fan. I also play guitar and I like to go out with my friends. "
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<img class="port" src="images/jpg/felipe.jpg" alt="Felipe webde" title="Felipe webde">
					</div>
				</div>
				<!--Paula-->
				<div id="paula" class="row team teamInactive">
					<div class="small-12 large-4 columns">
					<h6>Paula Andrea Betancuourt <br>Photographer and Design</h6><br>
					<p>
					Visual Designer I am a lover of photography. Watch through the lens of a camera becomes for me a passion only surpassed by the material result of this activity. As a designer my goal is to get through the camera responses to stimuli that a well done image can produce in people.</p>
					</div>
					<div class="small-12 large-4 columns">
					<p>
					The best of my job is to see how the small spaces of time become eternal, everyday situations become immortal and the fantasy of freezing the time becomes a reality.
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<img class="port" src="images/jpg/paula.jpg" alt="Paula webde" title="Paula webde">
					</div>
				</div>
				<!--Pacho-->
				<div id="pacho" class="row team teamInactive">
					<div class="small-12 large-4 columns">
					<h6>Francisco Javier Betancur <br>Commercial</h6><br>
					<p>
					Within Webde’s Commercial Department, Francisco Javier  is dedicated to transmit everything we can do to improve their business through our advanced solutions to customers. 
					Francisco Javier has a degree in Occupational Health from the Autonomous University and has also studied Graphic Design.  Hard-working and responsible,
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<p>
					Francisco Javier has extensive experience in the area of sales.  With a positive and open personality, he is always eager to learn new things. 
					<br>“I’m a person with lots of encouragement and sense of belonging. I like to listen to music, going out and knowing different places in my city and, when possible, elsewhere."
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<img class="port" src="images/jpg/pacho.jpg" alt="Pacho webde" title="Pacho webde">
					</div>
				</div>
			</div>
		</div>
		<div id="porta2" class="row">	
			<div id="miniporta" class="small-12 large-6 small-centered large-centered columns">
				<ul id="carousel2" class="elastislide-list">
				<li><a href="#" onclick="setTeam('pablo')"><img src="images/jpg/equipo/pablo2.jpg" alt="Pablo webde" title="Pablo webde"></a></li>
				<li><a href="#" onclick="setTeam('mm')"><img src="images/jpg/equipo/maria2.jpg" alt="Maria del Mar webde" title="Maria del Mar webde"></a></li>
				<li><a href="#" onclick="setTeam('camilo')"><img src="images/jpg/equipo/camilo2.jpg" alt="Camilo webde" title="Camilo webde"></a></li>
				<li><a href="#" onclick="setTeam('ju')"><img src="images/jpg/equipo/judith2.jpg" alt="Judith webde" title="Judith webde"></a></li>
				<li><a href="#" onclick="setTeam('alex')"><img src="images/jpg/equipo/alex2.jpg" alt="Alex webde" title="Alex webde"></a></li>
				<li><a href="#" onclick="setTeam('pipe')"><img src="images/jpg/equipo/felipe2.jpg" alt="Felipe webde" title="Felipe webde"></a></li>
				<li><a href="#" onclick="setTeam('paula')"><img src="images/jpg/equipo/paula2.jpg" alt="Paula webde" title="Paula webde"></a></li>
				<li><a href="#" onclick="setTeam('pacho')"><img src="images/jpg/equipo/pacho2.jpg" alt="Pacho webde" title="Pacho webde"></a></li>
				</ul>
			</div>
		</div>
	</div>	
<script>

    if (!elast2Init) {

        teamElast = $("#carousel2").elastislide();
        elast2Init = true;
        for (var i = 0; i < 8; i++) {
            var tm = "t" + i + 1;
            teamN[i] = tm;
        }
        $('.flexslider').flexslider({
            animation: 'fade',
            controlsContainer: '.flexslider'
        });
    }
</script>