<div class="antmenu"></div>	
		<div class="square-slider">
            <div class="row slide slide1 inverted">
				<div class="column-web contentq light small-12 large-6 large-offset-6 columns">
                    <h3>WEB</h3>
					<h4>(Páginas web)</h4>
                    <p>El desarrollo de un buen diseño web unido con una buena estructuración de contenidos se ha 
					convertido en el canal de comunicación más eficaz para las campañas de información, 
					mercadeo y ventas más importantes en el mundo. </p>
					<div class="botones light small-12 large-6 large-offset-6">
					<button class="btn-servicios" data-dropdown="drop1"><img src="images/png/btn-web.png" alt="Web Webde" title="Webd Webde"></button>
					<button class="btn-servicios" data-dropdown="drop2"><img src="images/png/btn-plataformas.png" alt="Plataformas Webde" title="Plataformas Webde"></button>
					<button class="btn-servicios" data-dropdown="drop3"><img src="images/png/btn-servicios.png" alt="Servicios Webde" title="Servicios Webde"></button>
					</div>
                </div>
				<!--ENTRADA DE POP UP SERVICIOS-->
				<div id="drop1" class="f-dropdown content" data-dropdown-content>
												<div class="contenido-web">
												<h2>Páginas web</h2><br>
												<p>
												Desde Webde planificamos, diseñamos e implementamos páginas web aplicando innovación y 
												los últimos recursos en tecnología.
												</p>
												<img src="images/png/web-html.png"><br>
												<p>
												El sistema HTML5 aplicado a nuestros productos introduce 
												nuevos elementos que mejoran la navegación y la usabilidad de los sitios web en los distintos 
												navegadores. Así mismo, ofrece una mejora en la intuición para el desarrollo de los elementos 
												que componen la web, permitiendo implementar el uso de animaciones de manera ágil y 
												rápida.
												</p>
												</div>
											</div>
											
				<div id="drop2" class="f-dropdown content" data-dropdown-content>
												<div class="contenido-web">
												<h2>Plataformas</h2><br>
												<p>
												Desde que empezara a extenderse el uso de páginas web a través de Internet, con ellas 
												llegaron las plataformas, sistemas que sirven como base para hacer funcionar determinados 
												módulos de hardware y software con los que son compatibles. En la práctica, son programas 
												que dan una función específica a la página web.
												</p>
												<img src="images/png/web-html2.png">
												<p>
												El equipo de profesionales de Webde está preparado para crear la plataforma óptima con los 
												requerimientos que se ajusten a sus necesidades.
												</p>
												</div>
											</div>
											
											
			<div id="drop3" class="f-dropdown content" data-dropdown-content>
												<div class="contenido-web">
												<h2>Servicios</h2><br>
												<p>
												En Webde ponemos a su disposición un completo servicio de rediseño y actualización, 
												empleando innovación y los últimos recursos tecnológicos. El sistema HTML5 aplicado a 
												nuestros productos introduce nuevos elementos que mejoran la navegación y usabilidad de su 
												página web.
												</p>
												
												<p>
												Webde le ofrece un servicio que comienza con una idea, la del cliente, que nosotros 
												materializamos, creando un proyecto único para usted.
												</p>
												</div>
											</div>
											
			<!--ENTRADA DE POP UP SERVICIOS-->								
            </div>
            <div class="slide slide2">
				<div class="row">
                <div class="contentq movil light small-12 large-6 columns">
                    <h3>MÓVIL</h3>
					<h4>(APP)</h4>
                    <p>En 2016 habrá cerca de 10.000 millones de dispositivos móviles conectados a Internet en todo 
					el mundo, incluyendo smart phones y tablets, los cuales generarán el 90% del tráfico total de 
					datos móviles, según el Informe Cisco VNI del Tráfico Global de Datos Móviles. Para ese año, el 
					tráfico global de datos móviles triplicará el flujo de datos de redes fijas.</p>
					<div class="botones">
					<button class="btn-servicios" onclick="mobilein('mobile-top')" onmouseout="mobileout('mobile-top')"><img src="images/png/btn-webm.png" alt="Web movil Webde" title="Webd movil Webde"></button>
					<button class="btn-servicios" onclick="mobilein('mobile-center')" onmouseout="mobileout('mobile-center')"><img src="images/png/btn-app.png" alt="App Webde" title="App Webde"></button>
					<button class="btn-servicios" onclick="mobilein('mobile-bottom')" onmouseout="mobileout('mobile-bottom')"><img src="images/png/btn-juegos.png" alt="Juegos Webde" title="Juegos Webde"></button>
					</div>
                </div>
				<div class="small-12 large-6 columns"></div>
				</div>
				<div class="row">
					<div class="small-12 large-8 columns"></div>
					<div class="circulo-movil small-12 large-8 columns">
						<div class="row mobile-top">
							<div class="small-12 large-5 columns">
								<p class="parrafo-movil">
								<span class="tamanoh2">Diseño Web Móvil</span><br>
								En Webde desarrollamos su web adaptando su diseño y funcionalidad a cualquier tipo de 
								dispositivo digital y sistema operativo, haciéndola totalmente compatible y permitiendo a sus 
								clientes acceder a su página web desde cualquier dispositivo. 
								</p>
							</div>
							<div class="small-0 large-3 columns"></div>
							<div class="small-0 large-4 columns">
								<img src="images/png/movil-uno.png">
							</div>
						</div>
						<div class="row mobile-center">
							<div class="small-12 large-5 columns">
								<p class="parrafo-movil">
								<span class="tamanoh2">Aplicaciones Móviles</span><br>
								<img src="images/png/marcas-moviles.png"><br>
								En Webde le ofrecemos soluciones de alto impacto para su empresa desarrollándole 
								aplicaciones móviles personalizadas que se ajusten a sus necesidades.							
								</p>
							</div>
							<div class="small-0 large-3 columns"></div>
							<div class="small-0 large-4 columns">
								<img src="images/png/movil-dos.png">
							</div>
						</div>
						<div class="row mobile-bottom">
							<div class="small-12 large-5 columns">
								<p class="parrafo-movil">
								<span class="tamanoh2">Juegos</span><br>
								“Ganar dinero jugando” es hoy por hoy una realidad. Desde Webde diseñamos y desarrollamos 
								juegos móviles de la mejor calidad y usabilidad para que pueda generarles diferentes métodos 
								de utilidad y ganancia.
								</p>
							</div>
							<div class="small-0 large-3 columns"></div>
							<div class="small-0 large-4 columns">
								<img src="images/png/movil-tres.png">
							</div>
						</div>
					</div>
				</div>	
            </div>
            <div class="slide slide3">
				<div class="row espaciomenu"></div>
				<div class="row">
					<div class="contentq light small-0 large-2 columns"></div>
					<div class="contentq light small-12 large-4 columns">  
						<h3>MARKETING</h3>
						<h4>(DIGITAL)</h4>
						<p>Nuestros profesionales estudian en profundidad las características de su negocio y su cliente 
						potencial para desarrollar las campañas de marketing digital más eficaces, alcanzando 
						ampliamente los objetivos marcados en la cobertura de su mercado e incrementando sus 
						ventas.</p>
						<div class="botones light small-12 large-6 large-offset-6">
						<button class="btn-servicios" onclick="setService('seo')" onmouseout=""><img src="images/png/btn-seo.png" alt="Seo & Sem Webde" title="Seo & Sem movil Webde"></button>
						<button class="btn-servicios" onclick="setService('email')" onmouseout=""><img src="images/png/btn-email.png" alt="Email Webde" title="Email Webde"></button>
						<button class="btn-servicios" onclick="setService('branding')" onmouseout=""><img src="images/png/btn-imagencor.png" alt="Imagen Webde" title="Imagen Webde"></button>
						<button class="btn-servicios" onclick="setService('socialm')" onmouseout=""><img src="images/png/btn-marke-social.png" alt="Social Webde" title="Social Webde"></button>
						</div>
					</div>
					<div class="todo-marketing small-12 large-4 columns">
						<div class="padding">
								<div id="seo" class="ma small-12 large-12 columns service">
									<h1 class="title-mar">SEO & SEM</h1>
									<img class="img-seo" src="images/png/seo-buscadores.png" alt="buscadores Webde" title="buscadores Webde">
									<form method=GET action="http://www.google.com/search" target="_blank">
									<input type=hidden name=ie value=UTF-8>
									<input type=hidden name=oe value="UTF-8">
									<input type=text name=q size=25 maxlength=255 placeholder="Buscar en Google">
									
									</form>
									<p>Busca tu sitio web en google! si no está, nosotros hacemos que aparezca.</p>
									<p>En Webde sabemos lo importante que es para usted ubicar su empresa en el primer puesto en 
									los principales buscadores de Internet, como Google, Bing, Yahoo y Ask. 
									Manejamos calidad y eficacia, alcanzando los resultados de posicionamiento deseados por cada 
									cliente.</p>
								</div>
								<div id="email" class="ma small-12 large-12 columns service serviceInactive">
									<h1 class="title-mar">E-MAILING</h1>
									<p>El Mailing Marketing se ha convertido en uno de los métodos más infalibles de publicidad y 
									mercadeo, pero también uno de los métodos más controlados y restringidos por los filtros de la 
									persona o empresa a quien le llega esta publicidad</p>
									<p>En Webde trabajamos con la mejor tecnología de e-mailing (No spam, envíos personalizados, 
									Imágenes óptimas, diseño profesional), logrando un alto porcentaje de éxito en la cobertura de 
									su cliente potencial.</p>
									<p>Te mostramos un claro ejemplo de como funciona, escribe tu nombre y e-mail. Y veras inmediatamente une prueba</p>
									<input type="text" placeholder="Nombre">
									<input type="text" placeholder="E-mail">
									<input class="btn-enviar" type="submit" placeholder="Enviar">
								</div>
								<div id="branding" class="ma small-12 large-12 columns service serviceInactive">
									<h1 class="title-mar">BRANDING</h1>
									<p>En Webde le ofrecemos una amplia variedad de soluciones de diseño para desarrollar o 
									actualizar su imagen corporativa, creando una imagen integral y única, acorde a la naturaleza y 
									filosofía de su empresa.</p>
									<img src="images/png/imagen-logo.png" alt="Diseño Webde" title="Diseño Webde">
								</div>
								<div id="socialm" class="ma small-12 large-12 columns service serviceInactive">
									<h1 class="title-mar">SOCIAL MARKETING</h1>
									<p>La imagen que su empresa ofrece en las redes sociales se ha vuelto tan importante como 
									contar con una página web, puesto que el 60% de las personas en el mundo se comunican por 
									medio de las redes sociales.</p> 
									<p>Por ello, en la actualidad se está empleando este medio como complemento fundamental en 
									las campañas comunicación y marketing de las principales empresas del mundo. En Webde 
									conocemos en su totalidad cómo hacerlo por Ud.</p>
									<div class="mface">
										<img class="imagen-social-m" src="images/png/mface.png" alt="Marketing facebook Webde" title="Marketing facebook Webde">
										<div class="mface-cont">
											<!--<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%
											2FWebdeDevelopmentSystem&amp;send=false&amp;layout=standard&amp;width=234&amp;show_faces
											=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=80&amp;appId=387822187969071" 
											scrolling="no" frameborder="0" style="border:none; background:#ededed; overflow:hidden; 
											width:100%; height:20%;" allowTransparency="true"></iframe>-->
										</div>									
									</div>
									<div class="mtweet">
										<img class="imagen-social-m" src="images/png/mtwitter.png" alt="Marketing twitter Webde" title="Marketing teitter Webde">
										<div class="mtweet-cont">
										<a class="twitter-timeline" href="https://twitter.com/Webde5" data-widget-id="326778450054627329">Tweets por @Webde5</a>
										<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
										</div>
									</div>
									<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								</div>
								
						</div>
					</div>
					<div class="contentq light small-0 large-2 columns"></div>
				</div>    
            </div>
            <a href="#"  class="prev">Prev</a>
            <a href="#"  class="next">Next</a>
            <div class="overlay"></div>
        </div>