<script src="js/flexslide/jquery.flexslider.js"></script>
<!--Modal pop up-->	
        <div id="myModal" class="reveal-modal small">
          <h2>Hola!</h2>
          <p class="pop1">Tenemos cosas diferentes para ti.</p>  
          <p class="pop2"><img src="../images/png/popt.png" title="Tour webde" alt="Tour webde">Click en Tour, y daras un viaje por la página.<br><span class="red">Necesita audio.</span></p>
          <p class="pop2"><img src="../images/png/poph.png" title="Ayuda webde" alt="Ayuda webde">Click en Ayuda, y aprenderás a manejar la web.<br><span class="red">Necesita audio y micrófono. Solo para Navegador Google Chrome</span></p>
          <p class="pop2"><img src="../images/png/popm.png" title="Micro webde" alt="Micro webde">Click en el Microfono, y darás ordenes a la página. para explorarla con tu voz.<br><span class="red">Necesita micrófono. Solo para Navegador Google Chrome</span></p>
          <a class="close-reveal-modal">&#215;</a>
        </div>
        <!--Fin Modal pop up-->
		<!--Contenido Inicio SLIDE-->
        
		<div id="slides">
	
			<ul class="slides-container">
				<li>
					<img src="images/jpg/fondo-home-webde1.jpg" alt="Paginas Web" title="Paginas Web">
						<div class="container" id="conta1">
							<h1>Bienvenidos a Webde</h1>
							<p>Webde es una empresa creativa y dinámica especializada en soluciones digitales avanzadas. <br>Ofrecemos, 
							entre otros, servicios de diseño y desarrollo web, <br>aplicaciones móviles, marketing digital e imagen 
							corporative para empresas y profesionales.<br><a href="#" id="ho" data-reveal-id="myModal">Somos auténticos</a><br></p>
						</div>
				</li>
				<li>
					<img src="images/jpg/fondo-home-webde2.jpg" alt="Moviles" title="Moviles">
						<div class="container" id="conta2">
							<h1>Filosofía</h1>
							<p>
							Nuestros principales objetivos son:<br>
							1. Satisfacer a nuestros clientes, siempre ofreciéndoles soluciones innovadoras y efectivas. <br>
							2. Mantener los altos estándares de calidad, empleando para ello las últimas tecnologías. <br>
							3. Siempre aprendiendo, siempre competitivos: En Webde desarrollamos capacitaciones <br>
							regulares a nuestro equipo humano. Esto nos permite ofrecer a nuestros clientes los mejores resultados.<br><br></p>
						</div>
				</li>
				<li>
					<img src="images/jpg/fondo-home-webde3.jpg" alt="Marketing digital" title="Marketing digital">
						<div class="container" id="conta3">
							<h1>Por qué elegir Webde?</h1>
							<p>1. Tecnología e innovación: Nuestra empresa crea sus proyectos empleando las últimas 
							tecnologías.<br>
							2. Tiempo de entrega: El sistema de gestión integral usado por Webde nos permite obtener 
							resultados rápidos y efectivos.<br>
							3. Diseño atractivo: Pensado para una audiencia que valora cada vez más los aspectos 
							visuales, especialmente en el mundo de los negocios y del entretenimiento. <br>
							4. Imagen Corporativa: Nuestros clientes emplean nuestros servicios como una extensión 
							de sus compañías para desarrollar sus diferentes estrategias operativas.<br><br><br><br><br><br></p>
						</div>
				</li>
			</ul>
			<nav class="slides-navigation">
				<a href="#" id="next1" class="next">/></a>
				<a href="#" id="prev1" class="prev"><\</a>
			</nav>
		</div>
		<!--Fin Contenido Inicio SLIDE-->
		
		<!--FOOTER-->
		<footer>
			<div class="row" id="footer">
				<div class="large-4 columns">.</div>
				<div class="small-12 large-4 columns" id="footer-text">Webde Development System - Colombia<br>Todos los derechos reservados -  Copyright  Webde Development System 2013<br>Para mas informacion comunicate con contacto@webdefamily.com o al (57) 316 695 23 12</div>
				<div class="small-12 large-4 columns" id="footer-social">
					<div class="row">
						<div class="social small-7 large-11 small-centered large-centered columns">
						<ul>
						<li><a href="http://www.facebook.com/WebdeDevelopmentSystem" target="_blank" class="btn-social fac">fac</a></li>
						<li><a href="https://twitter.com/Webde5" target="_blank" class="btn-social twi">twi</a></li>
						<li><a href="http://instagram.com/pablomorales92" target="_blank" class="btn-social ins">ins</a></li>
						<li><a href="http://dribbble.com/Webde" target="_blank" class="btn-social drib">drib</a></li>
						<li><a href="https://github.com/Webde" target="_blank" class="btn-social git">git</a></li>
						<li><a href="http://www.youtube.com/channel/UC-46CzWszpF_ghXJ2XShNRg" target="_blank" class="btn-social you">you</a></li>
						<li><a href="http://www.facebook.com/WebdeDevelopmentSystem" target="_blank" class="btn-social fli">fli</a></li>
						<li><a href="https://plus.google.com/107585594084952667212/" target="_blank" class="btn-social goo">goo</a></li>
						<li><a href="http://www.facebook.com/WebdeDevelopmentSystem" target="_blank" class="btn-social blo">blo</a></li>
						<li><a href="http://www.linkedin.com/profile/view?id=248408641&trk=tab_pro" target="_blank" class="btn-social lin">lin</a></li>
						</ul>
						</div>
					</div>	
				</div>
			</div>
		</footer>
		<!--FIN FOOTER-->	

<script>
    $(document).ready(function () {
	
       

        if (!fini) {
            escroleatizarUno();
            fini = true;
        }
		
    });
</script>