<div class="antmenu"></div>	
		<div id="porta1" class="row">
			<div class="small-11 large-9 small-centered large-centered columns">
				<!--FLEX-->
				<div class="flex-container">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<img src="images/jpg/port1.jpg" />
							</li>
				 
							<li>
								<img src="images/jpg/port2.jpg" />
							</li>
							
							<li>
								<img src="images/jpg/port3.jpg" />
							</li>
                            <li>
								<img src="images/jpg/port4.jpg" />
							</li>
                            <li>
								<img src="images/jpg/port5.jpg" />
							</li>
                            <li>
								<img src="images/jpg/port6.jpg" />
							</li>
                            <li>
								<img src="images/jpg/port7.jpg" />
							</li>
                            <li>
								<img src="images/jpg/port8.jpg" />
							</li>
				 
						</ul>
					</div>
				</div>
				<!--FIN FLEX-->
			</div>			
		<!--FIN BANNER-->
			<div class="margin2 small-10 large-6 small-centered large-centered columns">
				<!--Pablo-->
				<div id="pablo" class="row team">
					<div class="small-12 large-4 columns">
					<h6>Pablo Javier Morales<br>Director de producción</h6><br>
					<p>
					Socio y gerente del Área de Producción, Pablo es el fundador de Webde y la base sobre la que se asienta la creatividad y el desarrollo tecnológico de la compañía. Pablo gestiona el talento de nuestros diseñadores y developers, y él mismo  participa activamente y de manera determinante en los procesos productivos, tanto de diseño como de programación. 
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<p>
					Especialista en programación en los sistemas html5 CSS3  y CMS ,en diseño y creatividad  y en estrategias de Marketing Digital, Pablo cuenta con formación en Desarrollo de Webs UI and UEX,  en el desarrollo de aplicaciones móviles hechas en html5 y juegos.
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<img class="port" src="images/jpg/pablo.jpg" alt="Pablo webde" title="Pablo webde">
					</div>
				</div>
				
				<!--MM-->
				<div id="mm" class="row team teamInactive">
					<div class="small-12 large-4 columns">
					<h6>María del Mar Fito <br>Directora de Marketing y ventas</h6><br>
					<p>
					Socia y gerente del Área Comercial y de Marketing, María del Mar se encarga de diseñar nuestras estrategias de comunicación y ventas, dar a conocer Webde al resto del mundo y tener satisfechos a nuestros clientes.Licenciada en Periodismo, cuenta con una Master en Marketing, Dirección de Ventas y Publicidad y es Técnico de Diseño Gráfico. </p>
					</div>
					<div class="small-12 large-4 columns">
					<p>
					María del Mar trabajó durante más de diez años en el área de la comunicación, el diseño y la publicidad, y por más de cinco años en el área de marketing y ventas. <br>“Me considero una persona emprendedora, dinámica y trabajadora.  Me gusta aprender cada día algo nuevo, leer, viajar y disfrutar de mi gente. Creo que con lo que hacemos día a día podemos disfrutar mientras añadimos nuestro “granito de arena” para construir un mundo mejor”. 
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<img class="port" src="images/jpg/mm.jpg" alt="Maria del Mar webde" title="Maria del Mar webde">
					</div>
				</div>
				
				<!--Camilo-->
				<div id="camilo" class="row team teamInactive">
					<div class="small-12 large-4 columns">
					<h6>Juan Camilo Buriticá<br>Desarrollador Principal</h6><br>
					<p>
					Trabajando con la empresa desde su inicio, es el primer desarrollador que tuvo la empresa y desde entonces se ha especializado en aportar soluciones a los retos que van apareciendo en cada proyecto. Como Developer Senior, entre sus labores está la programación de webs, plataformas, aplicaciones móviles y juegos con el sistema html5. 
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<p>
					tecnologías de javascript, php, c#, css y actionscript.<br>
					“De naturaleza lógica y racional, me reconozco analítico “desde chavito” y aunque a veces sea un tanto complicado, soy un amigo leal y un buen consejero. He hecho de mis principales pasiones, la tecnología e internet, mi trabajo, aunque también disfruto de otros hobbies, como el anime, el manga y salir de camping con mis amigos, preferiblemente a ríos.”

					</p>
					</div>
					<div class="small-12 large-4 columns">
					<img class="port" src="images/jpg/camilo.jpg" alt="Camilo webde" title="Camilo webde">
					</div>
				</div>
				<!--Judith-->
				<div id="ju" class="row team teamInactive">
					<div class="small-12 large-4 columns">
					<h6>Judith Mora<br>Supervisora de Calidad</h6><br>
					<p>
					Judith es nuestra Quality Supervisor. Su trabajo pasa por implementar los procesos de la empresa para lograr que todos nuestros productos y servicios cumplan con las más altas exigencias de calidad, haciendo que el cliente esté plenamente satisfecho y que nuestro trabajo valga la pena.
					Como todas las personas que formamos esta gran familia, Judith se mantiene en constante aprendizaje, no sólo en el área de calidad. </p>
					</div>
					<div class="small-12 large-4 columns">
					<p>
					Actualmente, Judith se encuentra estudiando Gestión de Negocios en la Universidad Autónoma de Manizales.<br>
					“Me encantan los idiomas. He estudiado 2 años de inglés, 2 años de italiano, un semestre de japonés y un semestre de alemán. Mis principales aficiones son: tocar el clarinete, salir al cine, leer y practicar deportes.”
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<img class="port" src="images/jpg/judith.jpg" alt="Judith webde" title="Judith webde">
					</div>
				</div>
				<!--Alex-->
				<div id="alex" class="row team teamInactive">
					<div class="small-12 large-4 columns">
					<h6>Alexander Arias<br>Desarrollador</h6><br>
					<p>
					Una de nuestras últimas incorporaciones en el equipo, Alexander es developer cuyas funciones pasan por el desarrollo web y la gestión de drupal. Alexander tiene conocimientos de c# y de lenguaje java.
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<p>
					“Mi expectativa en la empresa es crecer en conocimiento y aspiro a ser uno de los ingenieros más reconocidos. Respecto a mis aficiones, más que nada, me encanta leer -uno de mis autores preferidos es Stephen Covey-, así como escribir poesía. En mi tiempo libre, si no estoy estudiando me encanta caminar y desconectarme del mundo y, por un momento, poner mis cinco sentidos en unión con la naturaleza...”
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<img class="port" src="images/jpg/alex.jpg" alt="Alex webde" title="Alex webde">
					</div>
				</div>
				<!--Felipe-->
				<div id="pipe" class="row team teamInactive">
					<div class="small-12 large-4 columns">
					<h6>Andrés Felipe Morales<br>Desarrollador de Marketing</h6><br>
					<p>
					Proactivo y  trabajador, Felipe es nuestro E-Marketing Developer. En sus manos está materializar las estrategias diseñadas desde nuestro departamento de E-Marketing para alcanzar los objetivos marcados por nuestros clientes.
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<p>
					Felipe maneja los sistemas html5 y css3, y está especializado en SEO, SEM, social marketing, Email marketing, montaje en plataformas web. Así mismo, cuenta con experiencia en fronted y backend. 
					<br>
					“En mi tiempo libre, soy un apasionado del skateboard. Además, toco  la guitarra y me gusta salir con mis amigos.”

					</p>
					</div>
					<div class="small-12 large-4 columns">
					<img class="port" src="images/jpg/felipe.jpg" alt="Felipe webde" title="Felipe webde">
					</div>
				</div>
				<!--Paula-->
				<div id="paula" class="row team teamInactive">
					<div class="small-12 large-4 columns">
					<h6>Paula Andrea Betancuourt <br>Fotografía y Diseño</h6><br>
					<p>
					Soy una Diseñadora Visual amante de la Fotografía. Ver a través de la lente de una cámara se convierte para mí en una pasión que sólo es superada por el resultado material de esta actividad. Como Diseñadora no sólo me preocupa obturar sino, obtener mediante la cámara respuestas a los estímulos que una imagen 
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<p>
					bien lograda  puede producir en las personas. Lo mejor de mi trabajo es ver cómo los pequeños espacios de tiempo se vuelven eternos, las situaciones cotidianas se convierten en inmortales y la fantasía de congelar el tiempo se transforme en realidad.
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<img class="port" src="images/jpg/paula.jpg" alt="Paula webde" title="Paula webde">
					</div>
				</div>
				<!--Pacho-->
				<div id="pacho" class="row team teamInactive">
					<div class="small-12 large-4 columns">
					<h6>Francisco Javier Betancur <br>Comercial</h6><br>
					<p>
					Dentro del Departamento Comercial de Webde, "Pacho" se ocupa de dar a conocer a los clientes todo aquello que podemos hacer para mejorar sus negocios a través de nuestras soluciones avanzadas. 
					"Pacho" está diplomado en Salud Ocupacional por la Universidad Autónoma y cuenta con estudios de Diseño Gráfico.  
					</p>
					</div>
					<div class="small-12 large-4 columns">
					<p>
					Trabajador y responsable, Francisco Javier cuenta con amplia experiencia en el área de ventas.  Con su personalidad positiva y abierta, siempre está dispuesto a aprender cosas nuevas.
					<br>“Soy una persona  con mucho ánimo y sentido de pertenencia. Me gusta escuchar música, salir y conocer diferentes sitios de mi ciudad y, cuando es posible, de otros lugares.”

					</p>
					</div>
					<div class="small-12 large-4 columns">
					<img class="port" src="images/jpg/pacho.jpg" alt="Pacho webde" title="Pacho webde">
					</div>
				</div>
			</div>
		</div>
		<div id="porta2" class="row">	
			<div id="miniporta" class="small-12 large-6 small-centered large-centered columns">
				<ul id="carousel2" class="elastislide-list">
				<li><a id="t1" href="#" onclick="setTeam('pablo')"><img src="images/jpg/equipo/pablo2.jpg" alt="Pablo webde" title="Pablo webde"></a></li>
				<li><a id="t2" href="#" onclick="setTeam('mm')"><img src="images/jpg/equipo/maria2.jpg" alt="Maria del Mar webde" title="Maria del Mar webde"></a></li>
				<li><a id="t3" href="#" onclick="setTeam('camilo')"><img src="images/jpg/equipo/camilo2.jpg" alt="Camilo webde" title="Camilo webde"></a></li>
				<li><a id="t4" href="#" onclick="setTeam('ju')"><img src="images/jpg/equipo/judith2.jpg" alt="Judith webde" title="Judith webde"></a></li>
				<li><a id="t5" href="#" onclick="setTeam('alex')"><img src="images/jpg/equipo/alex2.jpg" alt="Alex webde" title="Alex webde"></a></li>
				<li><a id="t6" href="#" onclick="setTeam('pipe')"><img src="images/jpg/equipo/felipe2.jpg" alt="Felipe webde" title="Felipe webde"></a></li>
				<li><a id="t7" href="#" onclick="setTeam('paula')"><img src="images/jpg/equipo/paula2.jpg" alt="Paula webde" title="Paula webde"></a></li>
				<li><a id="t8" href="#" onclick="setTeam('pacho')"><img src="images/jpg/equipo/pacho2.jpg" alt="Pacho webde" title="Pacho webde"></a></li>
				</ul>
			</div>
		</div>
	<script>

	    if (!elast2Init) {

	        teamElast = $("#carousel2").elastislide();
	        elast2Init = true;
	        for (var i = 0; i < 8; i++) {
	            var tm = "t" + i + 1;
	            teamN[i] = tm;


	        }
	        $('.flexslider').flexslider({
	            animation: 'fade',
	            controlsContainer: '.flexslider'
	        });
	    }
</script>
