
<div class="antmenu"></div>	
		<!-- PRODUCTOS-->
		<div id="productos">
		<div class="contport">
		<div>
	<div class="topline"></div>


    <div class="group section-wrap upper" id="upper">
        <div class="wrap group"><!-- /.section-1 -->
            <div class="section-2 group">
				<ul id="images" class="rs-slider">
					<li class="group">
					<img src="images/portafolio/benidorm.jpg" alt="Webde benidorm" title="Webde benidorm">
					<div class="rs-caption rs-bottom">
				            <div class="h3">Hotel Benidorm</div>
				            <p class="parra"><b>Cliente:</b>hotel benidorm.<br><b>Trabajo:</b>Página Web y social marketing.<br><b>Año:</b>2013.<br></p>
				    </div>
					</li>
					<li class="group">
					<img src="images/portafolio/manizalesac.jpg" alt="Webde Manizales" title="Webde Manizales">
					<div class="rs-caption rs-bottom">
				            <div class="h3">Manizales Activa</div>
				            <p class="parra"><b>Cliente:</b>Manizales Activa.<br><b>Trabajo:</b>Página Web y social marketing.<br><b>Año:</b>2013.<br></p>
				    </div>
					</li>
					<li class="group">
					<img src="images/portafolio/suanfi.jpg" alt="Webde Suanfitron" title="Webde Suanfitrion">
					<div class="rs-caption rs-bottom">
				            <div class="h3">Suanfitrión</div>
				            <p class="parra"><b>Cliente:</b>Manizales Activa.<br><b>Trabajo:</b>Página Web y social marketing.<br><b>Año:</b>2013.<br></p>
				    </div>
					</li>
					<li class="group">
					<img src="images/portafolio/zonafra.jpg" alt="Webde Zona Franca" title="Webde Zona Franca">
					<div class="rs-caption rs-bottom">
				            <div class="h3">Zona Franca</div>
				            <p class="parra"><b>Cliente:</b>Zona Franca - Emotion cd.<br><b>Trabajo:</b>Página Web en tres idiomas.<br><b>Año:</b>2013.<br></p>
				    </div>
					</li>
					<li class="group">
					<img src="images/portafolio/buenartecarta.jpg" alt="Webde Buenarte Cartagena" title="Buenarte Cartagena">
					<div class="rs-caption rs-bottom">
				            <div class="h3">Buenarte Cartagena</div>
				            <p class="parra"><b>Cliente:</b>Buendia - Emotion cd.<br><b>Trabajo:</b>Plataforma de votación web.<br><b>Año:</b>2013.<br></p>
				    </div>
					</li>
					<li class="group">
					<img src="images/portafolio/buenarte.jpg" alt="Webde Zona Franca" title="Webde Zona Franca">
					<div class="rs-caption rs-bottom">
				            <div class="h3">Buenarte</div>
				            <p class="parra"><b>Cliente:</b>Buendia - Emotion cd.<br><b>Trabajo:</b>Plataforma de votación web.<br><b>Año:</b>2013.<br></p>
				    </div>
					</li>
					<li class="group">
					<img src="images/portafolio/choose.jpg" alt="Webde Choose" title="Webde Choose">
					<div class="rs-caption rs-bottom">
				            <div class="h3">Choose</div>
				            <p class="parra"><b>Cliente:</b>Choose<br><b>Trabajo:</b>Plataforma de votación web mejor dj año.<br><b>Año:</b>2013.<br></p>
				    </div>
					</li>
					<li class="group">
					<img src="images/portafolio/hill.jpg" alt="Webde Hill" title="Webde Hill">
					<div class="rs-caption rs-bottom">
				            <div class="h3">The Hill Consulting</div>
				            <p class="parra"><b>Cliente:</b>Hill Consulting - Natalia Franco<br><b>Trabajo:</b>Página web.<br><b>Año:</b>2013.<br></p>
				    </div>
					</li>
					<li class="group">
					<img src="images/portafolio/versalles.jpg" alt="Webde Versalles" title="Webde Versalles">
					<div class="rs-caption rs-bottom">
				            <div class="h3">Versalles web</div>
				            <p class="parra"><b>Cliente:</b>Centro de desarrollo Versalles.<br><b>Trabajo:</b>Página web<br><b>Año:</b>Noviembre 2012.<br></p>
				    </div>
					<li class="group">
					<img src="images/portafolio/saludoral.jpg" alt="Webde Salud Oral" title="Webde Salud Oral">
					<div class="rs-caption rs-bottom">
				            <div class="h3">Salud Oral</div>
				            <p class="parra"><b>Cliente:</b>Salud Oral.<br><b>Trabajo:</b>Página web.<br><b>Año:</b>Octubre 2012.<br></p>
				    </div>
					</li>
					</li>
					<li class="group">
					<img src="images/portafolio/zavior.jpg" alt="Webde Zavior" title="Webde Zavior">
					<div class="rs-caption rs-bottom">
				            <div class="h3">Zavior</div>
				            <p class="parra"><b>Cliente:</b>Zavior - Emotion cd.<br><b>Trabajo:</b>Página web.<br><b>Año:</b>Octubre 2012.<br></p>
				    </div>
					</li>
					<li class="group">
					<img src="images/portafolio/cgm.jpg" alt="Webde Juego" title="Webde Juego">
					<div class="rs-caption rs-bottom">
				            <div class="h3">Juego Trivia</div>
				            <p class="parra"><b>Cliente:</b>CGM School.<br><b>Trabajo:</b>Juego de facebook.<br><b>Año:</b>Septiembre 2012.<br></p>
				    </div>
					</li>
					<li class="group">
					<img src="images/portafolio/miscolores.jpg" alt="Webde Mis colores" title="Webde Mis Colores">
					<div class="rs-caption rs-bottom">
				            <div class="h3">Mis Colores</div>
				            <p class="parra"><b>Cliente:</b>Mis Colores.<br><b>Trabajo:</b>Página web.<br><b>Año:</b>Septiembre 2012.<br></p>
				    </div>
					</li>
					<li class="group">
					<img src="images/portafolio/ocb.jpg" alt="Webde OCB" title="Webde OCB">
					<div class="rs-caption rs-bottom">
				            <div class="h3">Ocb</div>
				            <p class="parra"><b>Cliente:</b>Ocb odontología.<br><b>Trabajo:</b>Página web.<br><b>Año:</b>Septiembre 2012.<br></p>
				    </div>
					</li>
				</ul>
            </div> <!-- /.section-2 -->
        </div> <!-- /.wrap -->
		</div> <!-- /#upper -->
    
		</div>
		</div>
		</div>
		<!-- FIN PRODUCTOS-->
		
		<!-- CLIENTES-->
		<div id="clientes" class="main">
		
		<!-- Elastislide Carousel -->
				<ul id="carousel" class="elastislide-list">
					<li class="li-aliados"><img src="images/portafolio/cliente1.jpg" alt="Clientes y aliados Webde" title="Clientes y aliados Webde" /></li>
					<li class="li-aliados"><img src="images/portafolio/cliente2.jpg" alt="Clientes y aliados Webde" title="Clientes y aliados Webde" /></li>
					<li class="li-aliados"><img src="images/portafolio/cliente3.jpg" alt="Clientes y aliados Webde" title="Clientes y aliados Webde" /></li>
					<li class="li-aliados"><img src="images/portafolio/cliente4.jpg" alt="Clientes y aliados Webde" title="Clientes y aliados Webde" /></li>
					<li class="li-aliados"><img src="images/portafolio/cliente5.jpg" alt="Clientes y aliados Webde" title="Clientes y aliados Webde" /></li>
					<li class="li-aliados"><img src="images/portafolio/cliente6.jpg" alt="Clientes y aliados Webde" title="Clientes y aliados Webde" /></li>
					<li class="li-aliados"><img src="images/portafolio/cliente7.jpg" alt="Clientes y aliados Webde" title="Clientes y aliados Webde" /></li>
					<li class="li-aliados"><img src="images/portafolio/cliente8.jpg" alt="Clientes y aliados Webde" title="Clientes y aliados Webde" /></li>
					<li class="li-aliados"><img src="images/portafolio/cliente9.jpg" alt="Clientes y aliados Webde" title="Clientes y aliados Webde" /></li>
					<li class="li-aliados"><img src="images/portafolio/cliente10.jpg" alt="Clientes y aliados Webde" title="Clientes y aliados Webde" /></li>
				</ul>
				<!-- End Elastislide Carousel -->
		</div>

 <script src="js/cub/jquery.refineSlide.js"></script> 
 <script>

        $(function () {
	
		if (!elast1Init) {
		    $("#carousel").elastislide();
		    cubeElast = cubeSlider = $("#cubeP").elastislide();
		    elast1Init = true;

		}

		});
    </script>