	<div class="antmenu"></div>	
		<div class="centro row">
			<div class="small-12 large-6 columns">
			<h1 class="container1">Contáctenos</h1>
			<p class="parrafcon">Con nuestros productos y servicios podemos ayudarle a mejorar su negocio. Estaremos 
			deseosos de empezar a trabajar con usted. Puede contactar con nosotros en cualquier 
			momento llamándonos por teléfono o bien enviándonos un email, y le responderemos lo 
			antes posible.</p>
			<br>
			<input class="inputt" type="text" placeholder="Nombre">
			<input class="inputt" type="text" placeholder="Email">
			<textarea class="inputt" cols="10" rows="30"  placeholder="Mensaje"></textarea>
			<input class="btn-enviar2" type="submit" value="Enviar"><br><br>
			</div>
			<div class="small-12 large-6 columns"></div>
		</div>	