    <div class="antmenu"></div>	
		<div class="square-slider">
            <div class="row slide slide1 inverted">
				<div class="column-web contentq light small-12 large-6 large-offset-6 columns">
                    <h3>WEB</h3>
					<h4>(HTML5)</h4>
                    <p>The development of a good web design together with a good structure of content has become 
					the most effective information channel for communication, marketing and sales campaigns in 
					the world.</p>
					<div class="botones light small-12 large-6 large-offset-6">
					<button class="btn-servicios" data-dropdown="drop1"><img src="images/png/btn-web.png" alt="Web Webde" title="Webd Webde"></button>
					<button class="btn-servicios" data-dropdown="drop2"><img src="images/png/btn-plataformas.png" alt="Plataformas Webde" title="Plataformas Webde"></button>
					<button class="btn-servicios" data-dropdown="drop3"><img src="images/png/btn-servicios.png" alt="Servicios Webde" title="Servicios Webde"></button>
					</div>
                </div>
				<!--ENTRADA DE POP UP SERVICIOS-->
				<div id="drop1" class="f-dropdown content" data-dropdown-content>
												<div class="contenido-web">
												<h2>Custom Web Development</h2><br>
												<p>
												From Webde we plan, design and implement web sites using the latest innovation and 
												technology resources
												</p>
												<img src="images/png/web-html.png"><br>
												<p>
												HTML5 system applied to our products introduces new elements that 
												improve the navigation and usability of the websites in any browser. It also offers improved 
												intuition for the development of the elements of the web, allowing implementing the use of 
												animations in an agile and fast way.
												</p>
												</div>
											</div>
											
				<div id="drop2" class="f-dropdown content" data-dropdown-content>
												<div class="contenido-web">
												<h2>Plataforms</h2><br>
												<p>
												Since he began to spread out the use of web sites through the Internet, with them arrived 
												platforms, systems that serve as the basis for running certain hardware and software modules 
												that are compatible with. In practice, there are programs that provide a specific function to the 
												website.
												</p>
												<img src="images/png/web-html2.png">
												<p>
												Webde’s staff is ready to create the optimal platform to the requirements that suit your needs.
												</p>
												</div>
											</div>
											
											
			<div id="drop3" class="f-dropdown content" data-dropdown-content>
												<div class="contenido-web">
												<h2>Website Enhancements</h2><br>
												<p>
												In Webde we offer a complete redesign and renovation service using the latest innovation and 
												technology resources. HTML5 system applied to our products introduces new elements that 
												improve the navigation and usability of your website
												</p>
												
												<p>
												Webde offers a service that starts with an idea, the customer’s one, that we materialize, 
												creating a unique project for you.
												</p>
												</div>
											</div>
											
			<!--ENTRADA DE POP UP SERVICIOS-->								
            </div>
            <div class="slide slide2">
				<div class="row">
                <div class="contentq movil light small-12 large-6 columns">
                    <h3>MOBILE</h3>
					<h4>(APP)</h4>
                    <p>In 2016 there will be about 10,000 million Internet-connected mobile devices worldwide, 
					including smart phones and tablets, which will generate 90% of total mobile data traffic, 
					according to the Cisco VNI Report of Global Mobile Data Traffic. For that year, the global mobile 
					data traffic will triple the data flow of fixed networks.</p>
					<div class="botones">
					<button class="btn-servicios" onclick="mobilein('mobile-top')" onmouseout="mobileout('mobile-top')"><img src="images/png/btn-webm.png" alt="Web mobile Webde" title="Web mobile Webde"></button>
					<button class="btn-servicios" onclick="mobilein('mobile-center')" onmouseout="mobileout('mobile-center')"><img src="images/png/btn-app.png" alt="Webde App" title="Webde App"></button>
					<button class="btn-servicios" onclick="mobilein('mobile-bottom')" onmouseout="mobileout('mobile-bottom')"><img src="images/png/btn-juegos.png" alt="Webde Games" title="Webde Games"></button>
					</div>
                </div>
				<div class="small-12 large-6 columns"></div>
				</div>
				<div class="row">
					<div class="small-12 large-8 columns"></div>
					<div class="circulo-movil small-12 large-8 columns">
						<div class="row mobile-top">
							<div class="small-12 large-5 columns">
								<p class="parrafo-movil">
								<span class="tamanoh2">Mobile Web Design</span><br>
								In Webde we develop your website by adapting its design and functionality to any type of 
								digital device and operating system, making it fully compatible and allowing customers to 
								access to their website from any device.
								</p>
							</div>
							<div class="small-0 large-3 columns"></div>
							<div class="small-0 large-4 columns">
								<img src="images/png/movil-uno.png">
							</div>
						</div>
						<div class="row mobile-center">
							<div class="small-12 large-5 columns">
								<p class="parrafo-movil">
								<span class="tamanoh2">Mobile Apps</span><br>
								Webde will offer you high-impact solutions for your company by developing personalized 
								mobile applications that conform to your needs.
								<img src="images/png/marcas-moviles.png">
								</p>
							</div>
							<div class="small-0 large-3 columns"></div>
							<div class="small-0 large-4 columns">
								<img src="images/png/movil-dos.png">
							</div>
						</div>
						<div class="row mobile-bottom">
							<div class="small-12 large-5 columns">
								<p class="parrafo-movil">
								<span class="tamanoh2">Games</span><br>
								"Making money playing." This is nowadays a reality. In Webde we design and develop mobile 
								games of the highest quality and usability so you can generate from them different forms of 
								usefulness and profit.
								</p>
							</div>
							<div class="small-0 large-3 columns"></div>
							<div class="small-0 large-4 columns">
								<img src="images/png/movil-tres.png">
							</div>
						</div>
					</div>
				</div>	
            </div>
            <div class="slide slide3">
				<div class="row espaciomenu"></div>
				<div class="row">
					<div class="contentq light small-0 large-2 columns"></div>
					<div class="contentq light small-12 large-4 columns">  
						<h3>MARKETING</h3>
						<h4>(DIGITAL)</h4>
						<p>In Webde we study in depth your business and your market to develop the most efficient emarketing campaigns, achieving a high success rate in covering your prospective client and 
						increasing your sales</p>
						<div class="botones light small-12 large-6 large-offset-6">
						<button class="btn-servicios" onclick="setService('seo')" onmouseout=""><img src="images/png/btn-seo.png" alt="Seo & Sem Webde" title="Seo & Sem movil Webde"></button>
						<button class="btn-servicios" onclick="setService('email')" onmouseout=""><img src="images/png/btn-email.png" alt="Email Webde" title="Email Webde"></button>
						<button class="btn-servicios" onclick="setService('branding')" onmouseout=""><img src="images/png/btn-imagencor.png" alt="Imagen Webde" title="Imagen Webde"></button>
						<button class="btn-servicios" onclick="setService('socialm')" onmouseout=""><img src="images/png/btn-marke-social.png" alt="Social Webde" title="Social Webde"></button>
						</div>
					</div>
					<div class="todo-marketing small-12 large-4 columns">
						<div class="padding">
								<div id="seo" class="ma small-12 large-12 columns service">
									<h1 class="title-mar">SEO & SEM</h1>
									<img class="img-seo" src="images/png/seo-buscadores.png" alt="buscadores Webde" title="buscadores Webde">
									<form method=GET action="http://www.google.com/search" target="_blank">
									<input type="text" placeholder="Search for Google">
									</form>
									<p>Search your website in google! if not, we do appear.</p>
									<p>In Webde we know how important it is for you to position your company the top spot in the 
									major Internet search engines like Google, Bing, Yahoo and Ask.
									We manage quality and efficiency, achieving desired positioning results for each client.</p>
								</div>
								<div id="email" class="ma small-12 large-12 columns service serviceInactive">
									<h1 class="title-mar">E-MAILING</h1>
									<p>The Mailing Marketing has become one of the most infallible advertising and marketing
									methods, but also one of the most controlled and restricted by filters of consumers or 
									companies which would get this advertising</p>
									<p>In Webde we work with the best E-mailing technology (No spam, personalized mailings best, 
									Images, professional design), achieving a high success rate in the coverage of your potential 
									customer.</p>
									<p>We show an example of how it works, write your name and e-mail. And really test immediately joins</p>
									<input type="text" placeholder="Name">
									<input type="text" placeholder="E-mail">
									<input class="btn-enviar" type="submit" placeholder="Submit">
								</div>
								<div id="branding" class="ma small-12 large-12 columns service serviceInactive">
									<h1 class="title-mar">BRANDING</h1>
									<p>In Webde we offer you a wide range of design solutions to develop or improve your corporate 
									image, achieving a comprehensive and unique image, according to your nature and philosophy. </p>
									<img src="images/png/imagen-logo.png" alt="Diseño Webde" title="Diseño Webde">
								</div>
								<div id="socialm" class="ma small-12 large-12 columns service serviceInactive">
									<h1 class="title-mar">SOCIAL MEDIA MARKETING</h1>
									<p>The image that your company provides on social networks has become as important as having 
									a website, since 60% of people in the world communicate through social networks.</p>
									<p>	
									So currently it’s being used this tool as fundamental complement for communication and 
									marketing campaigns of the world's leading companies. In Webde we know fully how to do it 
									for you.</p>
									<div class="mface">
										<img class="imagen-social-m" src="images/png/mface.png" alt="Marketing facebook Webde" title="Marketing facebook Webde">
										<div class="mface-cont">
											<!--<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%
											2FWebdeDevelopmentSystem&amp;send=false&amp;layout=standard&amp;width=234&amp;show_faces
											=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=80&amp;appId=387822187969071" 
											scrolling="no" frameborder="0" style="border:none; background:#ededed; overflow:hidden; 
											width:100%; height:20%;" allowTransparency="true"></iframe>-->
										</div>									
									</div>
									<div class="mtweet">
										<!--<img class="imagen-social-m" src="images/png/mtwitter.png" alt="Marketing twitter Webde" title="Marketing teitter Webde">
										<div class="mtweet-cont">
										<a class="twitter-timeline" href="https://twitter.com/Webde5" data-widget-id="326778450054627329">Tweets por @Webde5</a>
										<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
										</div>-->
									</div>
									<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								</div>
								
						</div>
					</div>
					<div class="contentq light small-0 large-2 columns"></div>
				</div>    
            </div>
            <a href="#" class="prev">Prev</a>
            <a href="#" class="next">Next</a>
            <div class="overlay"></div>
        </div>