    <div class="antmenu"></div>	
        <div class="centro row">
			<div class="small-12 large-6 columns">
			<h1 class="container1">Contact us.</h1>
			<p class="parrafcon">If we can help you improve your business we look forward to working with you. Please call 
			us anytime or send us a message with your requirements and shortly we will contact you.</p>
			<br>
			<input class="inputt" type="text" placeholder="Nombre">
			<input class="inputt" type="text" placeholder="Email">
			<textarea class="inputt" cols="10" rows="30"  placeholder="Mensaje"></textarea>
			<input class="btn-enviar2" type="submit" value="Enviar"><br><br>
			</div>
		<div class="small-12 large-6 columns"></div>
    </div>